[2017-01-06 01:30] Jhair2015 opened #1 "NICE :)"

[2017-01-06 01:51] Tyler3D commented on #1
xD

[2017-01-07 06:30] MineMooreALT opened #2 "self feed?"

[2017-01-07 07:05] #2 closed

[2017-01-15 21:06] RelTakeover opened #3 "Add"
hello ,you can add powerups??

if you press "k" you can gain 300 of mass
Only once per round or at least tell me how I can do it

if you press "n" you can gain speed per 10 seconds

[2017-01-15 21:25] Tyler3D commented on #3
I'm trying to make a deip.io level up system. I'm working on the script but I get way too much homework :/

[2017-01-16 23:22] PsycoYT commented on #3
Ok :)

[2017-01-22 02:26] Tyler3D commented on #3
I tried working on it but it wouldn't be practical so, I'm scrapping the idea. Maybe I'll think of something that could work.

[2017-01-22 02:26] #3 closed

[2017-01-22 18:54] nonf opened #4 "what is lottery.js"
?

[2017-01-22 19:07] Tyler3D commented on #4
@nonf A virus for a gamemode

[2017-01-22 19:07] #4 closed

[2017-01-26 19:27] RelTakeover opened #5 "add commands"
you can add minions command and mass command to playercommands.js ?

[2017-01-26 20:18] Tyler3D commented on #5
idk how to

[2017-01-26 20:18] #5 closed

[2017-01-26 21:38] Tyler3D commented on #5
@RelTakeover nvm I added some commands

[2017-01-26 22:26] RelTakeover opened #6 "Nice =)"
Hello i love your work.

You can add some of these characteristics:

1 - server sided minimap.
2 - anti teams mode
3 - bots per ip
4 - SkinChanger (I would love this)

[2017-01-26 22:32] Tyler3D commented on #6
@RelTakeover
1. What do you mean?
2. Sure.
3. not really useful because you can use commands to get bots
4. idk how I would make one

[2017-01-26 22:32] Tyler3D commented on #6
Ill work on anti-team tho

[2017-01-26 22:50] RelTakeover opened #7 "How to ?"
How to add the bot owner's name to the same bot

if the owner is called "Daniel"

the bos is "DANIEL BOT"

how to do?

[2017-01-26 22:50] RelTakeover commented on #6
thanks , i mean a minimap like alis.io is really good =)

[2017-01-26 23:44] Tyler3D commented on #7
You really can't.

[2017-01-26 23:44] #7 closed

[2017-01-26 23:49] Tyler3D commented on #6
@RelTakeover I tried making anti-team and did but got extreme lag. I'm talking lag by yourself lag. So, im not going to do anti- team. minimaps are already in multi-ogar you just need to find a client that has one.

[2017-01-26 23:49] #6 closed

[2017-01-27 00:21] gyeyoqu opened #8 "Last man standing"
In multi-edited lms starts when the lms command is placed,
How do I start when there are 50 players and have at least 20 minutes to play?

[2017-01-27 00:24] gyeyoqu opened #9 "Virus Stalking Gamemode"
A game mode where the virus will follow you and the speed of the virus that follows you configurable like ogarul

[2017-01-27 00:26] gyeyoqu opened #10 "rush gamemode"
title

[2017-01-27 00:26] gyeyoqu opened #11 "leap mode"
title

[2017-01-27 00:35] Tyler3D commented on #8
You have to code a timer

[2017-01-27 00:35] #8 closed

[2017-01-27 00:37] Tyler3D commented on #10
I made one but, the leaderboard doesn't work on vanilla client. Plus, I can't figure out how to find first place

[2017-01-27 00:37] #10 closed

[2017-01-27 00:37] Tyler3D commented on #11
Sure

[2017-01-27 00:38] Tyler3D commented on #9
Idk if something like that is possible but, Ill figure something out

[2017-01-27 01:28] gyeyoqu commented on #10
i use my own client

[2017-01-27 01:28] gyeyoqu commented on #8
please help me :(

[2017-01-27 01:28] gyeyoqu commented on #9
thanks

[2017-01-27 11:42] RelTakeover opened #12 "Lose mass according to the players"
This method is much better than all, the massdecay is updated according to players who enter the server, if there are more players the value will be higher, megabyte told me how to do it but for a very old version, how do I do it?

[2017-01-27 17:45] Tyler3D commented on #12
Go to line 648 of gamserver.js

[2017-01-27 17:45] Tyler3D commented on #12
change that line to
var rate = this.config.playerDecayRate * .1 * this.clients.length;

[2017-01-27 17:46] Tyler3D commented on #12
With 50 players you lose mass really fast

[2017-01-27 17:46] Tyler3D commented on #12
Change the .1 to affect the decay rate @RelTakeover

[2017-01-27 17:46] #12 closed

[2017-01-27 17:47] Tyler3D commented on #12
nvm its here
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/GameServer.js#L632

[2017-01-27 17:48] Tyler3D commented on #10
@gyeyoqu Ok but the gamemode isn't really working well

[2017-01-27 17:49] Tyler3D commented on #10
Ill release I guess then

[2017-01-27 18:21] Tyler3D commented on #11
I tried and couldn't figure out how to do leap. I got Rush Mode working tho @gyeyoqu

[2017-01-27 18:21] #11 closed

[2017-01-27 18:39] Tyler3D commented on #8
https://github.com/Megabyte918/MultiOgar-Edited/tree/375b765bcdf59ca85d045ec27765c82422dc4af3

[2017-01-27 18:39] Tyler3D commented on #8
@gyeyoqu That is Last Man Standing with a configurable timer

[2017-01-27 20:18] gyeyoqu commented on #12
The other method was more effective, can you help me? For each player added 0.00001 of decay

[2017-01-27 20:33] gyeyoqu opened #13 "lms"
Start lms when 30 minutes have passed, not random

how ?

[2017-01-27 22:18] gyeyoqu opened #14 "add userrole"
add to playercommands please

[2017-01-27 22:37] Tyler3D commented on #14
Actually I working on it now

[2017-01-27 22:37] #14 closed

[2017-01-27 23:00] Tyler3D commented on #13
Set both short and long values to 30

[2017-01-27 23:00] #13 closed

[2017-01-28 13:20] gyeyoqu opened #15 "minions"
How can I put a minions limit on the chat command / minions

[2017-01-28 23:00] gyeyoqu opened #16 "skin"
I want to allow a certain ip to only use a selected skin

Do not say that it is client-sided, because what corresponds to ip is completely backend.

[2017-01-29 00:35] gyeyoqu opened #17 "playercommands"
There are some commands that can only be given to yourself, can you make them give to others? Like mass or spawnmass

[2017-01-29 03:27] Tyler3D commented on #17
All of the commands can be given to others. All you have to do is request their id/tell them to do /id. Then put the id after the command and first argument. Like /mass 500 1 change player id 1 to 500 mass. The only commands that are missing are kill and skin. But the problem with the kill command is that why would a player give you his id to kill him? You could also do kick. And the Skin command

[2017-01-29 03:27] Tyler3D commented on #17
@gyeyoqu

[2017-01-29 03:27] #17 closed

[2017-01-29 03:29] Tyler3D commented on #16
@Megabyte918 Already gave you the answer. Please don't make two duplicate issues on two repos. Either ask on mine or Mega's repo and wait for an answer. If you don't get one thennn, you can ask on the other one

[2017-01-29 03:29] #16 closed

[2017-01-29 03:32] Tyler3D commented on #15
@gyeyoqu What's the point. Someone can just spam the command to add minions infinitly

[2017-01-29 03:32] #15 closed

[2017-01-29 04:28] gyeyoqu commented on #17
thanks

[2017-01-29 13:54] gyeyoqu opened #18 "Gota.io physics config"
Could you make spaces like gota.io? That game is really played, even if it is put in an option in gameserver.ini if ​​you want to activate it

[2017-01-29 13:56] gyeyoqu opened #19 "draw restart"
I have always used your auto restart, but I would like it to appear on the server or below the leaderboard, how long it will restart, I have it in 60 minutes

[2017-01-29 14:06] gyeyoqu opened #20 "Superpowers Gamemode"
A game mode called superpowers:

EVERY 1:00 - 1:30 MINUTE YOU CAN CHOOSE BETWEEN THESE POWERS

- That you can throw every 1:00 minute one virus instead of food. And that in a div on the screen tell how many seconds are left before you can re-launch viruses

Super speed for 10 seconds without losing mass, every 1:20 minutes and in a div on the screen tell how many seconds are left before you can se

[2017-01-29 14:07] gyeyoqu opened #21 "skins"
You could make the skins change when you are playing

[2017-01-29 14:14] gyeyoqu opened #22 "sound and message"
When between an administrator or a moderator, in the chat a message that says "A MODERATOR HAS JOIN" and has some sound

[2017-01-29 14:33] gyeyoqu opened #23 "Errorr"
error when i try change defaultname of minion with change command said invalid value : NaN

[2017-01-29 19:43] Tyler3D commented on #23
Im pretty sure changing the defaultname of minions causes that normally. You have to change gameServer.ini and restart the server. @gyeyoqu

[2017-01-29 19:43] #23 closed

[2017-01-29 19:45] Tyler3D commented on #22
@gyeyoqu The chat message I can do but the sound is impossible due to how the protocol is structured. And no, I can't change it.

[2017-01-29 19:45] #22 closed

[2017-01-29 19:47] Tyler3D commented on #21
You can't because of protocol. You have to keep the same skin until you die

[2017-01-29 19:47] #21 closed

[2017-01-29 19:48] Tyler3D commented on #20
I don't have much free time until next week because of school. So I will work on this soon. @gyeyoqu

[2017-01-29 19:50] Tyler3D commented on #18
@gyeyoqu That would take hours of me playing both gota.io and the server in order to get similar physics. And I don't have the time

[2017-01-29 19:51] Tyler3D commented on #9
I won't have time to make this for a week

[2017-01-29 19:52] #1 closed

[2017-01-29 19:55] Tyler3D commented on #22
Actually this isn't a good idea because everybody would act differently if a admin or mod joined and their purpose is to ban and kick people that are aggressive and mean in chat.

[2017-01-29 19:58] Tyler3D commented on #19
I'm going to make this a player command actually. Leaderboard stuff is a pain

[2017-01-29 20:04] Tyler3D commented on #19
There's no auto restart xD

[2017-01-29 20:04] #19 closed

[2017-01-29 21:04] gyeyoqu opened #24 "emoticon"
I would like to be able to put any emoticon in the game and in the chat, and that comes out with its color

[2017-01-30 00:20] Tyler3D commented on #24
Client-Sided

[2017-01-30 00:20] #24 closed

[2017-01-30 00:36] gyeyoqu opened #25 "SC"
https://raw.githubusercontent.com/Agarian/OgarUL-Plugin-Library/master/SkinChanger/index.js

`I have been trying to adapt the LegitSoulja SkinChanger plugin for Multiogar, but I have not been able, can you do anything?`

[2017-01-30 00:40] gyeyoqu commented on #24
thanks !!

[2017-01-30 00:41] gyeyoqu commented on #25
you can give me your discord ? thanks =)

[2017-01-31 04:44] LegitSoulja commented on #25
@gyeyoqu hey, however this specific script cannot be implemented into Multi-Ogar. You'll have to manually write your own code in which will do that to players.

However, I don't work on other Ogar platforms. I don't like the idea of having multiple projects with the same aspects. It get annoying, as of how minions was implemented into Multi-Ogar. However, I didn't create it, nor find it so I have

[2017-01-31 10:27] gyeyoqu commented on #25
Oh , thanks @LegitSoulja

[2017-02-03 18:07] gyeyoqu opened #26 "bug !!"
if you put /login the server SHUTDOWN!

[2017-02-03 18:51] gyeyoqu opened #27 "/ADMIN"
NEW COMMAND THAT SHOW LIST OF ADMINS ACTIVE ON THE SERVER

[2017-02-03 20:48] Tyler3D commented on #26
@gyeyoqu That was fixed recently you just have to download the latest verison

[2017-02-03 20:48] #26 closed

[2017-02-03 20:48] Tyler3D commented on #27
#22

[2017-02-03 20:48] #27 closed

[2017-02-03 20:48] Tyler3D commented on #27
@gyeyoqu

[2017-02-03 20:51] Tyler3D commented on #25
If @LegitSoulja does mind I try to add this. I wouldn't feel right about copying his code/idea without asking.

[2017-02-03 21:32] LegitSoulja commented on #25
@Tyler3D didn't I say?

[2017-02-03 21:33] LegitSoulja commented on #25
You can make it better. You don't have to copy my code. You forked this project, so you should know how to code right?

The way this plugin is coded won't be the same with Multi-Ogar. You'll have to write it a special way in order for it to work.

[2017-02-04 14:19] gyeyoqu commented on #27
please add /admin command , i need this :(

[2017-02-05 16:44] gyeyoqu opened #28 "how to ?"
how to create new userroles ?

[2017-02-05 16:50] Tyler3D commented on #28
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/enum/UserRoleEnum.js#L13
Do define("[insert role"], [level]) The higher the level the more power

[2017-02-05 16:50] Tyler3D commented on #28
Then add them to userRoles.json

[2017-02-05 16:50] #28 closed

[2017-02-05 16:50] Tyler3D commented on #28
@gyeyoqu

[2017-02-05 16:56] gyeyoqu commented on #28
thanks !!

[2017-02-05 17:00] gyeyoqu opened #29 "limit and he"
I have a server in which I give moderator rank to those who bring people, but I want to give them the minion command, but limited to 1 minion and only for he

[2017-02-05 17:01] gyeyoqu commented on #29
Or that can only give to him and one more person, is it possible?

[2017-02-07 17:27] gyeyoqu opened #30 "prefix"
i use cigar protocol 6 and prefix for SERVER  IS

                var server = !!(flags & 0x80),

if i created rank "leyend" with:

`define("LEYEND", 5);`

what is this prefix?

[2017-02-07 18:33] RasyiidWho opened #31 "Slither mode?"
What is that?

[2017-02-07 21:29] gyeyoqu commented on #28
not working for chat message prefix

[2017-02-07 22:35] Tyler3D commented on #31
@RasyiidWho Normally I would tell you to figure it out on your own because it gives you a sense of pride and curiosity. But, screw that that. Slither Mode doubles your speed while increases your mass decay

[2017-02-07 22:35] #31 closed

[2017-02-07 22:56] Tyler3D commented on #30
@gyeyoqu The prefix is client-sided however there is a solution.
Replace ChatMessage.js in the packet folder to: http://pastebin.com/MKEgM9mk
P.S. Creating a userrank isn't enough  you have to make commands only for leyend. You can see them in commandList.js. P.S. You miss spelled Legend xD. Tell me if works

[2017-02-07 22:56] #30 closed

[2017-02-07 22:56] Tyler3D commented on #29
Selling Bots????

[2017-02-07 22:56] Tyler3D commented on #29
@gyeyoqu Anyway I work on this

[2017-02-07 22:58] Tyler3D commented on #25
This is client related. Apparently when you try to change skins will in-game your skin will not change until you respawn. OgarUL client is different tho and I'm not going to add something that will only work on one client because that's isolation

[2017-02-07 22:58] #25 closed

[2017-02-07 23:25] gyeyoqu commented on #29
not selling ,
The gift in contests, since my agar has enough people

[2017-02-07 23:25] gyeyoqu commented on #29
you can help me?

[2017-02-07 23:25] gyeyoqu commented on #29
give me any contact?

[2017-02-07 23:28] gyeyoqu opened #32 "Badwords"
How can I do so that each rank can use certain forbidden names, even though they all have the same forbidden names in common

[2017-02-07 23:39] Tyler3D commented on #32
https://github.com/Megabyte918/MultiOgar-Edited/issues/511 Wait until you get a response from that repo before you ask someone else @gyeyoqu

[2017-02-07 23:39] #32 closed

[2017-02-07 23:44] gyeyoqu commented on #32
multiogar-Edited ,Has very bad helpers, you are better,And more humble please help me

[2017-02-07 23:45] Tyler3D commented on #32
@gyeyoqu Just wait. @Megabyte918 Is nice too!

[2017-02-07 23:46] Tyler3D commented on #32
Plus idk how to do this anyway. So I would need to figure it out

[2017-02-07 23:47] gyeyoqu commented on #32
ok thanks TYLER3D

[2017-02-07 23:58] Tyler3D commented on #29
@gyeyoqu Replace your minion command from playerCommands.js to http://pastebin.com/cPLextG4

[2017-02-08 00:10] gyeyoqu commented on #29
Works fine and when I try to place minion again it removes them, but the server crashes

[2017-02-08 00:11] Tyler3D commented on #29
really?

[2017-02-08 00:11] gyeyoqu commented on #29
![image](https://cloud.githubusercontent.com/assets/25285427/22717437/d5656628-ed79-11e6-9164-ae039030995d.png)

[2017-02-08 00:11] Tyler3D commented on #29
What's the message

[2017-02-08 00:13] Tyler3D commented on #29
What did you type in?

[2017-02-08 00:13] Tyler3D commented on #29
@gyeyoqu

[2017-02-08 00:14] gyeyoqu commented on #29
Cannot read property  'playerTracker' of undefined

[2017-02-08 00:14] Tyler3D commented on #29
no the playercommand

[2017-02-08 00:14] Tyler3D commented on #29
/minion what?

[2017-02-08 00:15] gyeyoqu commented on #29
oh sorry , is my error , dont worry.

[2017-02-08 00:15] gyeyoqu commented on #29
thanks is work fine

[2017-02-08 00:15] gyeyoqu commented on #29
I have the following question, how does it work for others? If I want to give minions to others?

[2017-02-08 00:15] Tyler3D commented on #29
ok

[2017-02-08 00:16] Tyler3D commented on #29
I made it so Mods can't do that

[2017-02-08 00:16] gyeyoqu commented on #29
what ? I do not understand, what happens if I want to give minions to others? I can not ?

[2017-02-08 00:17] LegitSoulja commented on #25
? Maybe you should learn how to update the skin packet. This is nothing client related. This is Multi-Ogar related. Basically, with limited of knowledge you say it's impossible, but not. OgarUnlimited basically has ALOT of functionalities, in which being able to change skins without respawning. Dynamic player update.

[2017-02-08 00:17] gyeyoqu commented on #29
Only for himself?

[2017-02-08 00:17] Tyler3D commented on #29
yep

[2017-02-08 00:18] Tyler3D commented on #29
You have to be admin to give minions to others

[2017-02-08 00:19] gyeyoqu commented on #29
OOOH nice =)
You can help me in more things? I have an agar with a lot of people, it's ogar.pw

[2017-02-08 00:20] Tyler3D commented on #29
sure

[2017-02-08 00:21] gyeyoqu commented on #29
How can I contact you?

[2017-02-08 00:22] Tyler3D commented on #25
Well to be fair I only tested on agar.io client because all other clients I know of don't support skins. Besides OgarUL. Maybe Miniclip prevented skin change in-game?

[2017-02-08 00:23] Tyler3D commented on #25
And your right. I'm learning how to code so Perhaps I did something wrong

[2017-02-08 00:23] Tyler3D commented on #29
just use this issue

[2017-02-08 00:25] gyeyoqu commented on #29
oh thanks =D

[2017-02-08 00:27] gyeyoqu commented on #29
if i am admin I can give bots to the others but not more of one to myself

[2017-02-08 00:28] Tyler3D commented on #29
if your admin you can give as many bots as you want to others and yourself

[2017-02-08 00:29] gyeyoqu commented on #29
not , i cant

[2017-02-08 00:29] gyeyoqu commented on #29
i put /minion 3 25

'3' minions
'25' id

[2017-02-08 00:31] Tyler3D commented on #29
do they get the message that you gave them 3 bots?

[2017-02-08 00:31] #29 closed

[2017-02-08 00:32] gyeyoqu commented on #29
'Added 1 minions for'

[2017-02-08 00:32] gyeyoqu commented on #29
Give you 1 minions.

[2017-02-08 00:33] Tyler3D commented on #29
http://pastebin.com/NCr7yjfg Try this minion command

[2017-02-08 00:37] gyeyoqu commented on #29
same error and same message in the chat

[2017-02-08 00:40] Tyler3D commented on #29
http://pastebin.com/sqZyy2WF

[2017-02-08 00:42] gyeyoqu commented on #29
same error and same message in the chat

[2017-02-08 00:42] Tyler3D commented on #29
really?

[2017-02-08 00:43] gyeyoqu commented on #29
yes :(

[2017-02-08 00:44] Tyler3D commented on #29
http://pastebin.com/F8QkGmPZ

[2017-02-08 00:44] Tyler3D commented on #29
I keep finding bugs

[2017-02-08 00:47] gyeyoqu commented on #29
works fine, but the message does not appear when you're a moderator

[2017-02-08 00:48] Tyler3D commented on #29
what message?

[2017-02-08 00:48] gyeyoqu commented on #29
Give you 1 minions.

[2017-02-08 00:51] Tyler3D commented on #29
http://pastebin.com/5vjCTYi5

[2017-02-08 00:58] gyeyoqu commented on #29
WORKS FINEEEEEEEEEEEEE

[2017-02-08 00:59] Tyler3D commented on #29
nice

[2017-02-08 01:00] Tyler3D commented on #29
can you make me admin or mod on your servers xD. I'm bored

[2017-02-08 01:00] gyeyoqu commented on #29
ok give me your ip

[2017-02-08 01:01] Tyler3D commented on #29
24.168.40.78

[2017-02-08 01:01] Tyler3D commented on #29
Do you use multiogar or multi-ogar unlimited

[2017-02-08 01:01] Tyler3D commented on #29
cause I added a no-ip system

[2017-02-08 01:01] gyeyoqu commented on #29
A mixture of everything modified by me

[2017-02-08 01:01] Tyler3D commented on #29
xD samme

[2017-02-08 01:02] Tyler3D commented on #29
My verison on my pc is an insane mix

[2017-02-08 01:03] gyeyoqu commented on #29
Oh, well, you could help me perform push split, it's impossible in the current multi-edited

[2017-02-08 01:04] Tyler3D commented on #29
gota.io push splits?

[2017-02-08 01:05] gyeyoqu commented on #29
yeaaa

[2017-02-08 01:05] Tyler3D commented on #29
idk how to add those but normal ones are rare but possible

[2017-02-08 01:05] Tyler3D commented on #29
hmmmm

[2017-02-08 01:06] Tyler3D commented on #29
I'll do that later. Right now i wanna play agario

[2017-02-08 01:06] Tyler3D commented on #29
Can I have my account info?

[2017-02-08 01:06] gyeyoqu commented on #29
/login tyler

[2017-02-08 01:07] gyeyoqu commented on #29
you can use clans above of the name =)

[2017-02-08 01:08] Tyler3D commented on #29
Can you give me admin permission? I can't do mass and stuff

[2017-02-08 01:08] Tyler3D commented on #29
ok nice

[2017-02-08 01:10] gyeyoqu commented on #29
Is a public servant, I can not give you administrator to get you off the ground, or everyone will complain

[2017-02-08 01:10] gyeyoqu commented on #29
srry

[2017-02-08 01:11] gyeyoqu commented on #29
you are moderator =)

[2017-02-08 01:11] Tyler3D commented on #29
ok

[2017-02-08 01:11] gyeyoqu commented on #29
I would like to add more commands but I do not understand much

[2017-02-08 01:12] gyeyoqu commented on #29
for example:

- merge (only once in the game)
- rec (for 10 seconds)
- mass (limit of 1500, 1 time in the game)

[2017-02-08 01:12] gyeyoqu commented on #29
if you can help me =)

[2017-02-08 01:12] Tyler3D commented on #29
ok let me play for a few tho xD

[2017-02-08 01:13] gyeyoqu commented on #29
I am very pro, what server are you on?

[2017-02-08 01:13] gyeyoqu commented on #29
To give you about 3 bots

[2017-02-08 01:15] Tyler3D commented on #29
realtime

[2017-02-08 01:15] Tyler3D commented on #29
I reverse tricksplited tyt people and popsplited someone xD

[2017-02-08 01:15] Tyler3D commented on #29
they suck

[2017-02-08 01:15] Tyler3D commented on #29
Then I sucicided

[2017-02-08 01:16] gyeyoqu commented on #29
go i am XID

[2017-02-08 01:32] gyeyoqu commented on #29
I think it was quite XD

[2017-02-08 01:33] Tyler3D commented on #29
ok

[2017-02-08 01:35] gyeyoqu commented on #29
and now that ?

[2017-02-08 01:35] gyeyoqu commented on #29
pushsplit coming ? haha xd

[2017-02-08 01:36] Tyler3D commented on #29
did you leave?

[2017-02-08 01:37] gyeyoqu commented on #29
Yes, I try to see how I can make the PUSHSPLIT , but i cant

[2017-02-08 01:37] Tyler3D commented on #29
I haven't played gota.io before and people are telling me that even agar.io physics are wrong. So, maybe this job is better for you

[2017-02-08 01:37] Tyler3D commented on #29
I'll tell you what should you change

[2017-02-08 01:41] Tyler3D commented on #29
Mess with the numbers on these lines: https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/GameServer.js#L914
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/entity/Virus.js#L52
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/entity/Virus.js#L53
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/entity/PlayerCell.j

[2017-02-08 01:41] Tyler3D commented on #29
And can you please give me admin or moder on the server. I won't abuse it

[2017-02-08 01:42] Tyler3D commented on #29
Just for minions and rec mode

[2017-02-08 01:44] gyeyoqu commented on #29
Okay, I'll give you an admin, can you help me with the last one? How can I make it divide in 24 parts with the virus, regardless of the maximum quantity of pieces

[2017-02-08 01:44] Tyler3D commented on #29
look at popsplit.js

[2017-02-08 01:45] Tyler3D commented on #29
for (var k = 0; k < 512; k++) {
        var angle = 2 * Math.PI * Math.random(); // random directions
        this.gameServer.splitPlayerCell(c.owner, c, angle, min);

[2017-02-08 01:45] Tyler3D commented on #29
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/entity/PopsplitVirus.js#L66

[2017-02-08 01:46] Tyler3D commented on #29
That splits you in 512 pieces so change 512 to 24

[2017-02-08 01:48] gyeyoqu commented on #29
Ok, I already gave you admin, I just need to restart the servers

[2017-02-08 01:50] gyeyoqu commented on #29
- Could you help me in adding the command / admin and that the list of active administrators appears in the server? Along with /youtuber and that the list of active youtubers (mods) appears in the server ?

- That when an administrator logs in, a message saying "The NAME administrator has arrived"

- That the admins and youtubers appear with more mass

[2017-02-08 01:50] gyeyoqu commented on #29
you can ?

[2017-02-08 01:54] gyeyoqu commented on #29
nice bug when i replace virus.js for popsplit.js

![image](https://cloud.githubusercontent.com/assets/25285427/22720236/5158f9a8-ed88-11e6-97e5-3549f320e874.png)

[2017-02-08 02:05] Tyler3D commented on #29
lol

[2017-02-08 02:06] Tyler3D commented on #29
I gtg in like 10 minutes so Imma play and do that tommorow srry

[2017-02-08 02:06] Tyler3D commented on #29
Which server do I have admin in

[2017-02-08 02:07] Tyler3D commented on #29
I want rec mode xD

[2017-02-08 03:16] gyeyoqu commented on #29
Could you help me in adding the command / admin and that the list of active administrators appears in the server? Along with /youtuber and that the list of active youtubers (mods) appears in the server ?

That when an administrator logs in, a message saying "The NAME administrator has arrived"

That when an youtuber logs in, a message saying "The NAME YOUTUBER has arrived"

That the admins and you

[2017-02-08 05:16] LegitSoulja commented on #25
@Tyler3D I'm pretty sure it's possible with any client. Agar.io especially, or am I wrong. Since I don't play Agar.io, I can't determine that. I haven't really looked at Multi-Ogar code. I mean, bascially it's Ogar that's more efficient but it's not something that I care about. I barely even play what I'm contributing or rather so used to contribute to.

[2017-02-08 05:26] LegitSoulja commented on #25
Check out UpdateNodes. The skin hint is there, with the player nodes, which should be accessible for the Player class, which the code can be placed in the game server

[2017-02-08 15:41] gyeyoqu commented on #29
?

[2017-02-08 23:15] Tyler3D commented on #29
http://pastebin.com/yUXEUGc7 Change your playerCommands to that.

[2017-02-08 23:15] Tyler3D commented on #29
@gyeyoqu

[2017-02-08 23:15] Tyler3D commented on #29
it is /list

[2017-02-08 23:29] LegitSoulja commented on #25
@Tyler3D sorry, I meant the PlayerTracker.

[2017-02-08 23:40] gyeyoqu commented on #29
nice and the message ? when admin and moder arrived?

[2017-02-08 23:40] gyeyoqu commented on #29
and admin and more appear with more mass

[2017-02-08 23:40] gyeyoqu commented on #29
i will make you admin

[2017-02-08 23:43] gyeyoqu commented on #29
Could be made that from time to time the command / list is shown as if the player executed it, and that it shows moderators and administrators? Please =), thanks for everything, you can ask me for anything whatever in ogar.pw

[2017-02-08 23:51] Tyler3D commented on #29
The message I can do. Spawnmass is pointless cause admins can give themselves spawnmass. Idk how to make a time based event like number 3 @gyeyoqu

[2017-02-08 23:55] gyeyoqu commented on #29
I do not want to give spawnmass command to moderators, but if they appear with more mass

[2017-02-08 23:55] Tyler3D commented on #29
var text = name + " Joined the Server";
        for (var i in this.gameServer.clients) {
            var client = this.gameServer.clients[i];
            this.gameServer.sendChatMessage(null, client, text);
        }

[2017-02-08 23:56] Tyler3D commented on #29
Add that to your login function towards the bottom after var name

[2017-02-08 23:56] Tyler3D commented on #29
ok

[2017-02-09 00:03] Tyler3D commented on #29
http://pastebin.com/BQM9MfQv - Change your GameServer.spawnPlayer function to that. Change 1.25 to whatever number to multiply the normal spawnmass

[2017-02-09 00:04] Tyler3D commented on #29
I can't login in to ogar.pw @gyeyoqu

[2017-02-09 00:06] gyeyoqu commented on #29
Where should I replace for the message? , UserLogin function or login:

[2017-02-09 00:06] gyeyoqu commented on #29
Let me put all this, and I will give your administrator

[2017-02-09 00:07] Tyler3D commented on #29
Just Login

[2017-02-09 00:08] gyeyoqu commented on #29
I will implement your name system instead of ip

[2017-02-09 00:08] Tyler3D commented on #29
ok

[2017-02-09 00:10] gyeyoqu commented on #29
what lines i should replace for the message ? specific lines?

[2017-02-09 00:11] Tyler3D commented on #29
Between this.admins.push(this.admin);
and this.writeLine("Login done as \"" + name + "\"");

[2017-02-09 00:15] gyeyoqu commented on #29
when i put /login password  (with your system) he said ; you have to type in a password

[2017-02-09 00:16] Tyler3D commented on #29
its now /login username password

[2017-02-09 00:17] Tyler3D commented on #29
You should make new servers like one for slither and one for popsplit gamemode that would be cool

[2017-02-09 00:20] gyeyoqu commented on #29
i will make popsplit server soon =) , i want to make a small edition happen on the big server that explode, explode in 32 parts, to improve the popsplit , how to ? what i should edit on virus.js ?

[2017-02-09 00:20] gyeyoqu commented on #29
![image](https://cloud.githubusercontent.com/assets/25285427/22763560/7a1d247e-ee44-11e6-87e8-f1bf3775b5f5.png)

[2017-02-09 00:21] gyeyoqu commented on #29
name is not defined with the message

[2017-02-09 00:21] Tyler3D commented on #29
is var name even in the function?

[2017-02-09 00:23] gyeyoqu commented on #29
I have changed var text = name, towards var text = user.name, there is no error, but the message does not appear

[2017-02-09 00:23] gyeyoqu commented on #29
i put the message above of

 this.writeLine("Login done as \"" + user.name + "\"");
        return;

[2017-02-09 00:23] Tyler3D commented on #29
login: function (args) {
        try {
        var username = args[1].trim();
    } catch (error) {
        this.writeLine("ERROR: you have to type in a username!");
        return;
    }
    try {
        var password = args[2].trim();
        } catch (error) {
            this.writeLine("ERROR: You have to type in a password!");
            return;
        }
        var user = this.userLogin(use

[2017-02-09 00:24] Tyler3D commented on #29
login: function (args) {
        try {
        var username = args[1].trim();
    } catch (error) {
        this.writeLine("ERROR: you have to type in a username!");
        return;
    }
    try {
        var password = args[2].trim();
        } catch (error) {
            this.writeLine("ERROR: You have to type in a password!");
            return;
        }
        var user = this.userLogin(use

[2017-02-09 00:25] Tyler3D commented on #29
Try that

[2017-02-09 00:26] gyeyoqu commented on #29
cannot read property push <

In my login I have never had this.admin.push, and that is your updated playercommand

[2017-02-09 00:27] Tyler3D commented on #29
You have to add this.admins to the top in function PlayerCommands below this.roleList

[2017-02-09 00:27] Tyler3D commented on #29
Also add the list command and add it to help

[2017-02-09 00:31] gyeyoqu commented on #29
same error with this playercommand.js :+1:
http://pastebin.com/raw/qfh2A01b

[2017-02-09 00:33] Tyler3D commented on #29
what's the error?

[2017-02-09 00:35] gyeyoqu commented on #29
2 errors ,the message Still does not appear and the / list command in both fields exits "undefined"

[2017-02-09 00:35] Tyler3D commented on #29
when you login the message?

[2017-02-09 00:39] gyeyoqu commented on #29
Try your own, place / connect 192.168.0.100:455, in the chat your username is "blue" and your password "tyler"

[2017-02-09 00:40] Tyler3D commented on #29
It won't work only the online servers wil

[2017-02-09 00:40] gyeyoqu commented on #29
when i put /list , said:

undefined ---- undefined

when i logged sucess not appear the message :(

[2017-02-09 00:42] Tyler3D commented on #29
http://pastebin.com/fS9MrgvV

[2017-02-09 00:45] gyeyoqu commented on #29
List is still not working (SAME ERROR) and the welcome message only says SERVER: 'Joined the server'

[2017-02-09 00:45] gyeyoqu commented on #29
It gets complicated LOL

[2017-02-09 00:46] Tyler3D commented on #29
That means you have no name

[2017-02-09 00:47] gyeyoqu commented on #29
Can that text be in a different color?

[2017-02-09 00:47] gyeyoqu commented on #29
For everyone to know that we arrived haha

[2017-02-09 00:48] gyeyoqu commented on #29
and list still not working

[2017-02-09 00:49] Tyler3D commented on #29
The color is based on what color you are

[2017-02-09 00:49] Tyler3D commented on #29
really

[2017-02-09 00:50] Tyler3D commented on #29
undefiend?

[2017-02-09 00:50] gyeyoqu commented on #29
yes undefined

[2017-02-09 00:50] Tyler3D commented on #29
does it every say there isn't a admin or mod?

[2017-02-09 00:51] gyeyoqu commented on #29
Sorry if I do not understand English, but the error says undefined

[2017-02-09 00:53] Tyler3D commented on #29
http://pastebin.com/xFC1naQ6

[2017-02-09 00:55] gyeyoqu commented on #29
Even so adding the return, keep returning undefined

[2017-02-09 00:56] Tyler3D commented on #29
Try that one. I didn't just add a return

[2017-02-09 00:59] gyeyoqu commented on #29
i change this line and work

[code]

[2017-02-09 01:00] gyeyoqu commented on #29
nly works the message when there are no moderators, but if there is, returns undefined

[2017-02-09 01:01] Tyler3D commented on #29
ok brb imma eat

[2017-02-09 01:02] gyeyoqu commented on #29
Ok friend, I'll wait for you

[2017-02-09 01:24] Tyler3D commented on #29
http://pastebin.com/kGjrUj1K @gyeyoqu

[2017-02-09 01:31] gyeyoqu commented on #29
really nice =)

[2017-02-09 01:31] Tyler3D commented on #29
nice wanna play

[2017-02-09 01:33] gyeyoqu commented on #29
I still have not finished, I have the complete alis.io code and this minimap, can you see it and enter it? And add it to my client? I am new to javascript

Imagine a map in which you see your team like alis.io !!! GOOGOGOG HELP ME GUYS GUYS GUYS

[2017-02-09 01:34] Tyler3D commented on #29
idk client stuff like that sorry

[2017-02-09 01:34] Tyler3D commented on #29
I'm still learning javascript too

[2017-02-09 01:35] gyeyoqu commented on #29
I think it's not a very difficult code, could you take a look? Or do not know anything on the client side?

[2017-02-09 01:36] Tyler3D commented on #29
idk anything about it

[2017-02-09 01:36] gyeyoqu commented on #29
rekt

[2017-02-09 01:37] Tyler3D commented on #29
what?

[2017-02-09 01:37] Tyler3D commented on #29
What's my login info

[2017-02-09 01:38] gyeyoqu commented on #29
Lastly, just change the amount of parts in the explosions? Should I change in virus.js? , So quits until the pushsplit works ,  will add these updates and restart the servers for your administrator

[2017-02-09 01:40] Tyler3D commented on #29
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/entity/Virus.js#L68 Change numSplits to whatever you want

[2017-02-09 01:40] gyeyoqu commented on #29
and for bigs splits?

[2017-02-09 01:41] Tyler3D commented on #29
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/entity/Virus.js#L52 That are the values change them to a lower number and make sure they aren't below 1.5

[2017-02-09 01:42] Tyler3D commented on #29
Or you can crash

[2017-02-09 01:42] Tyler3D commented on #29
If you want to get rid of big splits remove
    for (var k = 0; k < big.length; k++) {
        var angle = 2 * Math.PI * Math.random(); // random directions
        this.gameServer.splitPlayerCell(c.owner, c, angle, big[k]);
    }

[2017-02-09 01:49] gyeyoqu commented on #29
give me your name and your pass

[2017-02-09 01:49] gyeyoqu commented on #29
and delete your comment in 1 minute XD

[2017-02-09 01:49] Tyler3D commented on #29
Tyler Blue

[2017-02-09 01:56] gyeyoqu commented on #29
lol i cant login

[2017-02-09 01:57] Tyler3D commented on #29
what does it say?

[2017-02-09 01:58] Tyler3D commented on #29
Send me your gameServer.js

[2017-02-09 02:01] gyeyoqu commented on #29
http://pastebin.com/raw/X6M39v5y

[2017-02-09 02:03] Tyler3D commented on #29
Did you change your userRoles.json to the new format?

[2017-02-09 02:04] gyeyoqu commented on #29
yes , but ... think I should restart the server with shutdown, but I only have FTP access, and the owner of the dedicated will arrive in 1 hour !!

[2017-02-09 02:04] gyeyoqu commented on #29
rekt me

[2017-02-09 02:05] Tyler3D commented on #29
lol ok send me both your UserRoles.json and PlayerCommands.js

[2017-02-09 02:06] gyeyoqu commented on #29
[
    {
	"username":"XID",
        "password":"psyx",
        "role":"ADMIN",
        "name":"Local Administrator"
    },

	{
	"username":"Tyler",
        "password":"Blue",
        "role":"ADMIN",
        "name":"Local Administrator"
    },

    {
	"username":"",
        "password":"",
        "role":"MODER",
        "name":"Local Moderator"
    },
    {
	"username":"",
        "password":"",

[2017-02-09 02:06] Tyler3D commented on #29
ok thats good

[2017-02-09 02:07] Tyler3D commented on #29
Can you send me playerCommands

[2017-02-09 02:08] gyeyoqu commented on #29
var Logger = require('./Logger');
var UserRoleEnum = require("../enum/UserRoleEnum");

function PlayerCommand(gameServer, playerTracker) {
    this.gameServer = gameServer;
    this.playerTracker = playerTracker;
    this.roleList = [];
    this.admins = [];
}
module.exports = PlayerCommand;

PlayerCommand.prototype.writeLine = function (text) {
    this.gameServer.sendChatMessage(null, this.playe

[2017-02-09 02:08] gyeyoqu commented on #29
XD

[2017-02-09 02:10] Tyler3D commented on #29
you forgot to update your userlogin function

[2017-02-09 02:10] Tyler3D commented on #29
PlayerCommand.prototype.userLogin = function (ip, password) {
    if (!password) return null;
    password = password.trim();
    if (!password) return null;
    for (var i = 0; i < this.gameServer.userList.length; i++) {
        var user = this.gameServer.userList[i];
        if (user.password != password)
            continue;
        if (user.ip && user.ip != ip)
            continue;
        r

[2017-02-09 02:10] Tyler3D commented on #29
PlayerCommand.prototype.userLogin = function (username, password) {
    if (!username || !password) return null;
    for (var i = 0; i < this.gameServer.userList.length; i++) {
        var user = this.gameServer.userList[i];
        if (user.username != username)
            break;
        if (user.password != password)
            break;
        return user;
    }
    return null;
};

[2017-02-09 02:13] gyeyoqu commented on #29
ready

[2017-02-09 02:13] Tyler3D commented on #29
yep

[2017-02-09 02:14] Tyler3D commented on #29
let's go on big 1

[2017-02-09 02:15] Tyler3D commented on #29
I can't login in

[2017-02-09 02:16] gyeyoqu commented on #29
You have to wait to restart the servers, and the owner of the dedicated arrives in a while

[2017-02-09 02:16] Tyler3D commented on #29
You can't restart it?

[2017-02-09 02:16] Tyler3D commented on #29
do /restart

[2017-02-09 02:17] gyeyoqu commented on #29
On the servers I have FTP access, and on the client I have COMPLETE access

[2017-02-09 02:18] Tyler3D commented on #29
so /restart won't work because the server dosen't restart right?

[2017-02-09 02:19] Tyler3D commented on #29
/list works tho wtf

[2017-02-09 02:20] gyeyoqu commented on #29
Yes, and I put updates on the part, and just rebooted the servers before I put the last

[2017-02-09 02:20] Tyler3D commented on #29
you can't reboot it again so you have to wait until the server owner restarts it right?

[2017-02-09 02:21] gyeyoqu commented on #29
yep

[2017-02-09 02:22] Tyler3D commented on #29
When does the owner usually restart the server? And can you login in?

[2017-02-09 02:22] gyeyoqu commented on #29
The owner is about to restart in a couple of minutes

[2017-02-09 02:22] gyeyoqu commented on #29
and we will can login

[2017-02-09 02:23] Tyler3D commented on #29
ok wanna play without login for now on big 1

[2017-02-09 02:23] gyeyoqu commented on #29
ok go

[2017-02-09 02:45] gyeyoqu commented on #29
your password is Blue

[2017-02-09 02:45] gyeyoqu commented on #29
loooooooooool

[2017-02-09 02:46] Tyler3D commented on #29
I tried /login Tyler Blue it doesn't work

[2017-02-09 02:47] Tyler3D commented on #29
you try logining in

[2017-02-09 02:48] gyeyoqu commented on #29
oh wait

[2017-02-09 02:48] Tyler3D commented on #29
it doesn't work?

[2017-02-09 02:48] Tyler3D commented on #29
Give me your UserRoles.js I deleted the commet

[2017-02-09 02:48] gyeyoqu commented on #29
"username":"Tyler",
        "password":"Blue",

[2017-02-09 02:49] Tyler3D commented on #29
no the whole file I need to check something

[2017-02-09 02:51] gyeyoqu commented on #29
[
    {
	"username":"XID",
        "password":"psyx",
        "role":"ADMIN",
        "name":"Local Administrator"
    },
	{
	"username":"Tyler",
        "password":"Blue",
        "role":"MODER",
        "name":"REAL"
    },
	{
	"username":"",
        "password":"",
        "role":"MODER",
        "name":"Local Moderator"
    },
    {
	"username":"",
        "password":"",
        "role":"USER",

[2017-02-09 02:55] gyeyoqu commented on #29
and??

[2017-02-09 02:57] Tyler3D commented on #29
Im trying to fix it

[2017-02-09 02:57] gyeyoqu commented on #29
ok

[2017-02-09 03:06] Tyler3D commented on #29
screw it just give me mod and rec mode

[2017-02-09 03:07] Tyler3D commented on #29
+ minions xD

[2017-02-09 03:09] gyeyoqu commented on #29
fix ?

[2017-02-09 03:09] Tyler3D commented on #29
Idk how to

[2017-02-09 03:09] Tyler3D commented on #29
But just give me mod and rec mode pls and let's play on big

[2017-02-09 03:10] gyeyoqu commented on #29
Then how can I rank others?

[2017-02-09 03:11] Tyler3D commented on #29
/userrole [my id] mod

[2017-02-09 03:12] Tyler3D commented on #29
My id is 86

[2017-02-09 03:13] Tyler3D commented on #29
on Big 1

[2017-02-09 03:13] gyeyoqu commented on #29
LOl, I will have to return to ip ;-;

[2017-02-09 03:14] Tyler3D commented on #29
sad

[2017-02-09 03:14] Tyler3D commented on #29
Try giving me admin with the ip setup then

[2017-02-09 03:16] Tyler3D commented on #29
actually can you login in?

[2017-02-09 03:19] gyeyoqu commented on #29
yes

[2017-02-09 03:19] Tyler3D commented on #29
just give me mod by using /userrole

[2017-02-09 03:20] Tyler3D commented on #29
go on the Big1 server

[2017-02-09 03:20] Tyler3D commented on #29
type in /userrole 128 modder

[2017-02-09 03:26] gyeyoqu commented on #29
All the updates went to fucking hell

[2017-02-09 03:26] gyeyoqu commented on #29
could you help me? =) with the new playerCommand?

[2017-02-09 03:35] Tyler3D commented on #29
sure but I wanna play agario xD with hacks

[2017-02-09 03:35] Tyler3D commented on #29
there's nobody in the realtime server only me

[2017-02-09 03:49] gyeyoqu commented on #29
ready

[2017-02-09 15:15] gyeyoqu commented on #29
if (user.Role = UserRoleEnum.ADMIN) var text = "El ADMIN " + "[" + name + "]" + " ha entrado al servidor";
    else if (user.Role != UserRoleEnum.ADMIN) var text = "El JUGADOR REAL" + "[" + name + "]" + " ha entrado al servidor";
    for (var i in this.gameServer.clients) {
        var client = this.gameServer.clients[i].playerTracker;
        this.gameServer.sendChatMessage(null, client, text);

[2017-02-09 15:16] gyeyoqu commented on #29
all apear with the message admin ;-;

[2017-02-10 14:53] wayfarer2 opened #33 "How to get someone id on the chat ???"
i can get my id from chat wich is greate but i didn't know how to get someone else id

can you help me please

[2017-02-10 16:14] gyeyoqu commented on #33
you cant

[2017-02-10 19:17] wayfarer2 commented on #33
Ahh so i have to get it from the consol right .

[2017-02-10 19:23] #33 closed

[2017-02-11 09:12] wayfarer2 opened #34 "Can You add youtuber rank please i really need it ."

[2017-02-11 13:14] gyeyoqu commented on #34
like my agar , ogar.pw haha NO xd

[2017-02-11 14:07] gyeyoqu opened #35 "score LB"
I want to show the scores next to the name as in dual, you can do it tyler: 3

[2017-02-11 21:06] Tyler3D commented on #34
ogar.pw works by Changing the role in userRole.json "Moder" to "Youtuber" and then getting rid of the code for Moders in PlayerCommands.js @wayfarer2

[2017-02-11 21:06] #34 closed

[2017-02-11 22:58] wayfarer2 commented on #34
can you show me how to get rid of it please @Tyler3D

[2017-02-11 23:21] Tyler3D commented on #34
@wayfarer2 https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/enum/userRoles.json#L11 Change MODER to YOUTUBER

[2017-02-11 23:22] Tyler3D commented on #35
@gyeyoqu Did it

[2017-02-11 23:22] #35 closed

[2017-02-11 23:34] gyeyoqu opened #37 "servers crashes with last update"
im using version 1.6.1 of lukas967

[2017-02-11 23:37] Tyler3D commented on #37
@gyeyoqu What client?

[2017-02-11 23:39] gyeyoqu commented on #37
protocol 6

[2017-02-11 23:40] gyeyoqu commented on #37
PD : I love you

[2017-02-11 23:40] Tyler3D commented on #37
What's the error?

[2017-02-11 23:43] gyeyoqu commented on #37
wait

[2017-02-11 23:46] gyeyoqu commented on #37
![image](https://cloud.githubusercontent.com/assets/25285427/22858412/18938bf4-f09b-11e6-8bc2-81e43e14a8bd.png)

[2017-02-11 23:46] gyeyoqu commented on #37
getscore is not a function

[2017-02-11 23:48] Tyler3D commented on #37
ohh I forgot Luka's version doesn't have the getScore function. Open UpdateLeaderboard.js and change all getScore() to ._score. Like this
var score = (this.leaderboard[i].getScore() / 100).toFixed(); becomes
var score = (this.leaderboard[i]._score / 100).toFixed();

[2017-02-11 23:48] #37 closed

[2017-02-11 23:48] Tyler3D commented on #37
That should fix it @gyeyoqu

[2017-02-11 23:53] gyeyoqu commented on #37
ok thanks i will try now

[2017-02-12 00:04] gyeyoqu commented on #37
![image](https://cloud.githubusercontent.com/assets/25285427/22858482/b922d816-f09d-11e6-8430-9d0e85a7e9ec.png)

[2017-02-12 00:05] Tyler3D commented on #37
Change all of the getFriendlyName's to _name

[2017-02-12 00:06] gyeyoqu commented on #37
:(

[2017-02-12 00:08] gyeyoqu commented on #37
![image](https://cloud.githubusercontent.com/assets/25285427/22858496/29df3504-f09e-11e6-87fa-d91dfb1f1e8c.png)

[2017-02-12 00:09] gyeyoqu commented on #37
._name is not a function

[2017-02-12 00:10] Tyler3D commented on #37
Change the ._name back to getFriendlyName

[2017-02-12 00:10] Tyler3D commented on #37
PlayerTracker.prototype.getFriendlyName = function () {
    if (!this._name) this._name = "";
    this._name = this._name.trim();
    if (!this._name.length)
        this._name = "An unnamed cell";
    return this._name;
};

[2017-02-12 00:10] Tyler3D commented on #37
Add that to your playerTracker.js

[2017-02-12 00:15] gyeyoqu commented on #37
what function i should replace ? setName?

[2017-02-12 00:17] gyeyoqu commented on #37
tyler ?

[2017-02-12 00:18] gyeyoqu commented on #34
and client changes @Tyler3D  @wayfarer2

[2017-02-12 00:22] Tyler3D commented on #37
GetFriendlyName

[2017-02-12 00:23] Tyler3D commented on #37
nvm don't replace just add it in playertracker

[2017-02-12 00:27] gyeyoqu commented on #37
![image](https://cloud.githubusercontent.com/assets/25285427/22858596/dae58b26-f0a0-11e6-9dad-7d40dd4e581f.png)

[2017-02-12 00:27] gyeyoqu commented on #37
see the LB

[2017-02-12 00:27] gyeyoqu commented on #37
Why are you so humble?

[2017-02-12 00:28] gyeyoqu commented on #37
Some programmers do not even respond, thank you =)

[2017-02-12 00:28] gyeyoqu commented on #37
THE LB IS BUGGY

[2017-02-12 01:25] gyeyoqu commented on #37
only show the first digit

[2017-02-12 01:27] gyeyoqu commented on #37
oh , i fixed this. thanks !!!

[2017-02-12 01:28] Tyler3D commented on #37
how did you fix it?

[2017-02-12 01:28] Tyler3D commented on #37
Sorry for the late respond I had to go somewhere

[2017-02-12 01:29] gyeyoqu commented on #37
only remove the division for 100 XD

[2017-02-12 01:29] gyeyoqu commented on #37
thanks !!

[2017-02-12 01:35] gyeyoqu commented on #37
tyler , you can help me with a thing? :c

[2017-02-12 02:06] gyeyoqu commented on #37
actual update pos is so buggy

[2017-02-12 02:13] gyeyoqu commented on #37
![image](https://cloud.githubusercontent.com/assets/25285427/22859085/b10465e8-f0af-11e6-914c-e048bf2f668b.png)

[2017-02-12 02:13] gyeyoqu commented on #37
i will try fix XD

[2017-02-12 02:20] gyeyoqu commented on #37
the current pos have much bugs

[2017-02-12 02:20] Tyler3D commented on #37
It's not like that on protocol 6 Imma fix but I have to finish my homework

[2017-02-12 02:22] gyeyoqu commented on #37
ok i will waiting here =)

[2017-02-12 03:28] gyeyoqu commented on #37
hey?

[2017-02-12 06:39] gyeyoqu commented on #37
hey ? i waiting =)

[2017-02-12 07:47] gyeyoqu commented on #37
waiting :(

[2017-02-12 18:09] gyeyoqu commented on #37
waiting XD

[2017-02-13 03:26] Tyler3D commented on #37
@gyeyoqu Fixed

[2017-02-13 11:39] gyeyoqu commented on #37
how use name in the current pos instead of text "position"

[2017-02-13 13:14] Tyler3D commented on #37
@gyeyoqu It doesn't fit on leaderboard. I tried

[2017-02-13 23:19] Jhair2015 commented on #18
@Tyler3D We could gather people to dominate a server, I would be in with pleasure xD, We join in the discord xDD

[2017-02-14 17:23] FlareYT opened #38 "Where can I change the Auto Restart Time ?"
Question is UP

Greetins Flare !

[2017-02-14 20:50] Tyler3D commented on #38
@FlareYT There isn't a auto-restart system

[2017-02-14 20:50] #38 closed

[2017-02-15 15:14] FlareYT commented on #38
Would it be possible to add one ?

Greetins :)

[2017-02-15 20:29] Tyler3D commented on #38
var _temp = new Date();
              if (((this.time.getTime() + (this.config.serverRestartInterval * 3600000) - _temp.getTime()) / 1000) <= 1)
              process.exit(3);

[2017-02-15 20:30] Tyler3D commented on #38
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/GameServer.js#L43
Add  this.time = new Date();

[2017-02-15 20:31] Tyler3D commented on #38
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/GameServer.js#L564
Add this

	     var _temp = new Date();
              if (((this.time.getTime() + (this.config.serverRestartInterval * 3600000) - _temp.getTime()) / 1000) <= 1)
               process.exit(3);

[2017-02-15 20:31] Tyler3D commented on #38
@FlareYT

[2017-02-15 20:56] FlareYT commented on #38
@Tyler3D , Im trying it , Thanks tho ! :)

Greetings Flare !

[2017-02-15 21:48] Tyler3D commented on #20
@gyeyoqu Done

[2017-02-15 21:48] #20 closed

[2017-02-18 00:26] Jhair2015 opened #39 "What is it?"
What is the AutoRestart ?, I mean this "https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/commits/master" was looking for and with nothing still accomplished D:

[2017-02-18 00:36] Tyler3D commented on #39
https://github.com/Megabyte918/MultiOgar-Edited/pull/267
@Jhair2015

[2017-02-18 00:36] #39 closed

[2017-02-18 00:37] Tyler3D commented on #39
I didn't add it because it isn't really useful

[2017-02-18 00:45] Jhair2015 commented on #39
Nooo, for me if you use it, in your branch of updates you added that function, could you give me the link to it?

[2017-02-18 01:08] Tyler3D commented on #39
@Jhair2015 I deleted it xD

[2017-02-18 01:21] Jhair2015 commented on #39
xd D:

[2017-02-18 04:43] Jhair2015 opened #40 "Problem with DigitalOcean and Codeanywhere lol"
![image](https://cloud.githubusercontent.com/assets/18153674/23090364/e1a3779c-f56a-11e6-9db0-b43cf0a06f33.png)

[2017-02-18 13:10] #40 closed

[2017-02-22 17:55] FlareYT opened #41 "How to add a Tag like : [Owner] , and a Rainbow Leaderboard !"
Soo,

Im looking for the GameServer.js Line where I can change/add a Tag ! :)
Otherwise does any1 knows the script for the Rainbow Color? -> http://6gem.pw

Greetings Flare ! :)

[2017-02-22 23:23] Tyler3D commented on #41
@FlareYT I recommend you make a admin user and login in as it. Idk of any script for Rainbow Color

[2017-02-22 23:23] #41 closed

[2017-02-22 23:28] Tyler3D commented on #41
Although you can connect via this client to the server. Open up the console and type in
setserver("ip:port")

[2017-02-23 03:48] gyeyoqu opened #42 "Edit powerup gamemode"
Please ADD xD

- Enter certain keys to activate the powers ( example: 'T' for Speed ,'C' for throw virus )

- Show a HTML ELEMENT DIV with information of gamemode and the remaining time remaining to power

[2017-02-23 12:35] TheJustExper commented on #41
Hey flare ;)

[2017-02-23 14:44] FlareYT commented on #41
@TheJustExper didn't want to copy it :)
@Tyler3D , The Client is not a Problem :) I got my Own game !

Otherwise Thanks :+1:

[2017-02-23 17:27] gyeyoqu opened #43 "Self feed Gamemode"
title

[2017-02-23 20:38] Tyler3D commented on #42
Requires Protocol Modification which isolates players

[2017-02-23 20:38] #42 closed

[2017-02-23 20:38] Tyler3D commented on #43
@gyeyoqu What do you mean?

[2017-02-24 02:06] gyeyoqu commented on #43
I can feed myself and grow like this and when there is only 1 player, the server is restarted

[2017-02-24 03:32] Jhair2015 commented on #43
@gyeyoqu That is already possible, gameserver.ini and the autoresestar that has given @Tyler3D  .-.

[2017-02-24 23:09] #43 closed

[2017-02-25 17:27] Agario2000 opened #44 "Does your server have auto restart?"
Title

[2017-02-26 19:51] Tyler3D commented on #44
Nope

[2017-02-26 19:51] #44 closed

[2017-02-27 15:33] gyeyoqu opened #45 "How to do this?"
how to restart the server when remains only 1 player ?

 this.time = this.config.serverRestart;
   setTimeout(function(){process.exit(1);}, this.time * 60 * 1000);

with your restart

[2017-03-01 15:44] gyeyoqu opened #46 "You can do Your Multiogar option to unicode"
please :c

[2017-03-01 16:25] Tyler3D commented on #46
No strings are much better

[2017-03-01 16:25] #46 closed

[2017-03-01 16:26] Tyler3D commented on #45
That would cause restart loops

[2017-03-01 16:26] #45 closed

[2017-03-01 19:57] gyeyoqu opened #47 "Badge in the name for admins and mods"
![image](https://cloud.githubusercontent.com/assets/25285427/23478453/35c2c56a-fea0-11e6-9bd8-320950291992.png)

[2017-03-01 20:00] Jhair2015 commented on #47
duplicate from MultiOgar Edited.

[2017-03-01 21:05] Tyler3D commented on #47
@Jhair2015 your right. I'm not going to close tho because this isn't really client sided... at least I think

[2017-03-01 22:44] gyeyoqu commented on #47
Yes, it is possible to draw in on server, since you only need to make an 'if' with the admin and draw an image next to the name

[2017-03-01 22:54] Tyler3D commented on #47
Drawing an image like that is client sided but, I have another idea. Ill do it when I get home.

[2017-03-01 22:55] gyeyoqu commented on #47
ok , you want play with me ? in my servers ? :3rd_place_medal:

[2017-03-02 01:20] Tyler3D commented on #47
@gyeyoqu Done

[2017-03-02 01:20] #47 closed

[2017-03-02 01:25] gyeyoqu commented on #47
is impossible a image?

[2017-03-02 01:26] Tyler3D commented on #47
@gyeyoqu Yup, a image is client-sided

[2017-03-02 01:29] gyeyoqu commented on #47
The problem is that I do not understand how to make a "IF" on the client if the player is admin ...

[2017-03-02 01:32] Tyler3D commented on #47
That's not the problem. The problem is that drawing an image is tricky.

[2017-03-02 01:34] Tyler3D commented on #47
Plus the server doesn't tell the client if a player is admin either. It's only on chat

[2017-03-02 01:34] gyeyoqu commented on #47
The chat messages have flag, as for example for the admin is 0x40, but what is the admin flag for the game itself?

[2017-03-02 01:34] gyeyoqu commented on #47
Exact, then, what can I do?

[2017-03-02 01:36] Tyler3D commented on #47
Edit both and make your own protocol. Which is a absolute pain, sadly

[2017-03-02 01:38] gyeyoqu commented on #47
How could I make the server tell the client who is admin and who is not?

[2017-03-02 01:39] Tyler3D commented on #47
Create a flag for admin in updateNodes.js and do the same client sided

[2017-03-02 01:42] gyeyoqu commented on #47
My good friend tyler, help me create it :1st_place_medal:

[2017-03-02 01:44] Tyler3D commented on #47
idk how to create custom protocols

[2017-03-02 01:44] Tyler3D commented on #47
nvm, I mean idk how to make a website.

[2017-03-02 01:45] gyeyoqu commented on #47
But the creation of a flag? work ?

[2017-03-02 01:48] Tyler3D commented on #47
Change your UpdateNodes.prototype.writeUpdateItems6 in UpdateNodes.js with this
http://pastebin.com/i5A5f0QG

[2017-03-02 01:48] Tyler3D commented on #47
Now you need your client to recognize flag 0x40 and make a image on that node/cell

[2017-03-02 01:50] gyeyoqu commented on #47
i will try now ,im nervious

[2017-03-02 01:51] Tyler3D commented on #47
And after that... I can't really help you.
Check out https://github.com/Luka967/Cigar/blob/master/www/assets/js/main_out.js#L1176 tho

[2017-03-02 02:07] gyeyoqu commented on #47
i cant :( , anyone can use the ᴬᴰᴹᴵᴺ

[2017-03-02 02:24] Tyler3D commented on #47
No only Amin's can

[2017-03-02 02:24] Tyler3D commented on #47
Anyway gtg

[2017-03-03 16:28] gyeyoqu opened #48 "keep logged in for admins and mods"
title

[2017-03-04 02:49] Tyler3D commented on #48
`
    if (ws.remoteAddress == "*insert ip here") `{`
        ws.playerTracker.userRole = 4;
    }
`
Add that to the end of your onClientSocketOpen function in gameServer.js
For example:
`
    if (ws.remoteAddress == "127.0.0.1") `{`
        ws.playerTracker.userRole = 4;
    }
`
Gives localhost or ip 127.0.0.1 admin permissions
2 = Mod and 4 = Admin

[2017-03-04 02:49] Tyler3D commented on #48
@gyeyoqu

[2017-03-04 02:49] #48 closed

[2017-03-04 03:37] gyeyoqu opened #49 "Chat and accounts level"
I like your updates, but what I do not like is that everything you do by chat, and what is that of accounts? it's finished?

[2017-03-04 03:41] Tyler3D commented on #49
There really isn't much you can do beside chat and a few other things. Yes the account thing is finished
@gyeyoqu

[2017-03-04 03:44] Tyler3D commented on #49
Now it is

[2017-03-04 04:28] Tyler3D commented on #49
@gyeyoqu

[2017-03-04 04:28] #49 closed

[2017-03-04 04:39] gyeyoqu commented on #49
you can add to the level system , skin per level ? and the level in the nick , or above of the nick? , is possible
How could you make the client know the level of the player?

[2017-03-04 04:40] gyeyoqu commented on #49
level in the nick or above of the nick , like agar MOBILE

[2017-03-04 04:42] gyeyoqu commented on #49
i will implement your system bro

[2017-03-04 04:44] gyeyoqu commented on #49
f you are high level, you start with more mass and you unlock the same skins of .io , possible?

[2017-03-04 04:47] Tyler3D commented on #49
@gyeyoqu Nope The only thing that is possible is having your level next to your name which would look weird

[2017-03-04 04:47] Tyler3D commented on #49
Whats your playerStartSize on your Servers?

[2017-03-04 04:48] gyeyoqu commented on #49
and unlock skins?

[2017-03-04 04:48] Tyler3D commented on #49
Thats impossible or at least to a degree

[2017-03-04 04:49] Tyler3D commented on #49
You can stop people from putting <kraken> if they aren't level 100 but that would cause lag with a lot of people and would be living hell to code

[2017-03-04 04:51] Tyler3D commented on #49
Can you give me admin on your servers. I'm bored xD

[2017-03-04 04:52] gyeyoqu commented on #49
ok , so, for what i need the level system?

[2017-03-04 04:53] Tyler3D commented on #49
What's your playerStartSize?

[2017-03-04 04:56] gyeyoqu commented on #49
i dont undertand your ask

[2017-03-04 04:56] Tyler3D commented on #49
the config playerStartSize

[2017-03-04 14:57] gyeyoqu commented on #49
is possible lock the skins per level as badword?

[2017-03-04 20:09] gyeyoqu commented on #49
and the level next to the name

[2017-03-04 22:21] ToporBigBots opened #50 "Pleas release auto restart"

[2017-03-05 00:18] #50 closed

[2017-03-05 00:18] Tyler3D commented on #49
@gyeyoqu Sure, but they won't be good ideas

[2017-03-05 00:19] Tyler3D commented on #49
Multi-Ogar-Edited-Unlimited is supposed to give you freedom to do whatever you want. Unlockable skins would be a bad idea

[2017-03-05 00:20] Tyler3D commented on #49
And Levels next to your name in chat would work but not next to your name. It would look weird

[2017-03-05 01:45] gyeyoqu commented on #49
Ok but you could add the blocking of the skins and if they want to disable it then in gameserver.ini, and the level next to the nick in the chat , will be good

[2017-03-05 01:50] Tyler3D commented on #49
People won't want to play on your server if you block skins and sure

[2017-03-05 02:47] gyeyoqu commented on #49
I know how to manage my server

[2017-03-05 02:52] Tyler3D commented on #49
http://pastebin.com/L61FP1rn

[2017-03-05 02:56] gyeyoqu commented on #49
what ? idk about javascript server side

[2017-03-05 03:13] Tyler3D commented on #49
You have to do this -->
if (skinname == "kraken" && this.socket.playerTracker.level != 100) {
skinname = null
}
For each of the skins. Do it in the setName function in PacketHandler.js

[2017-03-05 03:37] Tyler3D opened #51 "Test"

[2017-03-05 03:40] #51 closed

[2017-03-05 03:40] Tyler3D commented on #51
Cool

[2017-03-05 16:17] gyeyoqu commented on #49
1)If the account already exists, it is created anyway.
2)If you are logged in, your id is not displayed

[2017-03-05 16:18] gyeyoqu commented on #49
![image](https://cloud.githubusercontent.com/assets/25285427/23589108/41972da0-01a6-11e7-8622-a7d49908a875.png)

Exp to level: NaN

[2017-03-05 16:27] gyeyoqu commented on #49
[code]

THIS NOT WORK FOR ME :(

[2017-03-05 16:28] Tyler3D commented on #49
Because its < not >

[2017-03-05 16:32] gyeyoqu commented on #49
i put the skin with /skin fly

[2017-03-05 16:33] gyeyoqu commented on #49
and show me the skin :(

[2017-03-05 16:33] gyeyoqu commented on #49
with the command

[2017-03-05 16:37] Tyler3D commented on #49
Remove the skin command then

[2017-03-05 16:38] Tyler3D commented on #49
I fixed the Nan thing

[2017-03-05 17:38] gyeyoqu commented on #18
tyler3d , is hard do this?

[2017-03-05 18:10] Tyler3D commented on #18
@gyeyoqu Yep, I managed to make Gota.io like instant-merge but, thats it

[2017-03-05 18:10] gyeyoqu opened #53 "How to change te appearance"
Such as changing the appearance of food, make it look smaller, even if the size of the dough is big,
If the food is 100 points, it will look like it's 50

OGARIO V3 , have this option

[2017-03-05 18:19] Tyler3D commented on #53
This is client sided

[2017-03-05 18:19] #53 closed

[2017-03-05 20:01] gyeyoqu opened #54 "sc BUG"
![image](https://cloud.githubusercontent.com/assets/25285427/23590802/5e27cc4e-01c5-11e7-9c38-b2182a919478.png)

L O L

[2017-03-05 20:10] Tyler3D commented on #54
@gyeyoqu That's supposed to happen. Every Cell has a different skin

[2017-03-05 20:10] #54 closed

[2017-03-05 20:19] gyeyoqu commented on #54
not

[2017-03-05 20:19] gyeyoqu commented on #54
It is supposed to change the skin, but the same skin in all cells

[2017-03-05 20:19] gyeyoqu commented on #54
like OGARUL

[2017-03-05 20:21] Tyler3D commented on #54
that would be really laggy

[2017-03-05 20:22] gyeyoqu commented on #54
Because it would be more lagged ? :c

[2017-03-05 21:12] Tyler3D commented on #25
@LegitSoulja Thanks, sorry for the late response lol

[2017-03-06 16:12] gyeyoqu opened #55 "Minimap"
Will be amazing, fantastic.. OgarServ of JaraLowell have this, and you can see all players in the map, you can do o is soo hard? Good work bro☺🙂

[2017-03-06 16:15] gyeyoqu commented on #18
Oh and ffa mode? Will be cool😎

[2017-03-06 16:24] gyeyoqu opened #56 "How do this"
I have playermaxcells in 16 and the virus explosion in 22 cells,  how do for when i explode a virus the playerMaxCells change to 22 for 10 seconds , how? Thanks

[2017-03-06 19:51] gyeyoqu opened #57 "Error with levels"
![image](https://cloud.githubusercontent.com/assets/25285427/23626857/240fac34-028d-11e7-9322-3e6bee51ceec.png)

[2017-03-06 20:23] #57 closed

[2017-03-06 20:25] Tyler3D commented on #56
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/entity/Virus.js#L34
Change this.gameServer.playerMaxCells to 20

[2017-03-06 20:25] #56 closed

[2017-03-06 20:28] Tyler3D commented on #55
@gyeyoqu This is client sided.

[2017-03-06 20:28] #55 closed

[2017-03-06 21:27] gyeyoqu opened #58 "How do this?"
when the player reach the lvl 100 , automatically will be MODER

and when one player join to the server the decayrate increase 0.0001

i think this code work for the decayrate

 for (var i = 0; i < this.socketCount; i++) {
        rate += 0.0001;
    }

but , not work for me ( or At least I think so)

[2017-03-06 21:32] Tyler3D commented on #58
add if (this.playerTracker.level == 101 && this.playerTracker.userRole == UserRoleEnum.USER) this.playerTracker.userRole = UserRoleEnum.MODER;
Add the bottom of your login playerCommand before the return

[2017-03-06 21:32] #58 closed

[2017-03-06 21:33] gyeyoqu commented on #58
hey

[2017-03-06 21:37] gyeyoqu opened #59 "Decayrate per player"
hey

[2017-03-06 21:45] Tyler3D commented on #59
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/issues/12
do .0001 instead of .1

[2017-03-06 21:45] #59 closed

[2017-03-06 21:48] gyeyoqu commented on #59
thx

[2017-03-06 21:55] gyeyoqu commented on #59
lol not work

[2017-03-06 21:57] Tyler3D commented on #59
@gyeyoqu Because the line changed here https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/GameServer.js#L1106

[2017-03-06 22:01] gyeyoqu commented on #59
error :c

[2017-03-06 22:02] gyeyoqu commented on #59
[code]

[2017-03-06 22:02] gyeyoqu commented on #59
correct?

[2017-03-06 22:07] Tyler3D commented on #59
no

[2017-03-06 22:07] Tyler3D commented on #59
@gyeyoqu Because the line changed here https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/GameServer.js#L1106

[2017-03-06 22:09] gyeyoqu commented on #59
He changed the line you say for the code, which I do wrong ^?

[2017-03-06 22:09] Tyler3D commented on #59
`GameServer.prototype.updateMassDecay = function() {
    if (!this.config.playerDecayRate) return;

    // Loop through all player cells
    for (var i = 0; i < this.clients.length; i++) {
        var client = this.clients[i].playerTracker;
        for (var j = 0; j < client.cells.length; j++) {
            var cell = client.cells[j];
            if (cell == null || cell.isRemoved)

[2017-03-06 22:11] gyeyoqu commented on #59
That way how much will be added by each player?

[2017-03-06 22:13] gyeyoqu commented on #59
.1 per player ? is not too much ?

[2017-03-06 22:25] Tyler3D commented on #59
0.0001

[2017-03-06 22:26] gyeyoqu commented on #59
if i changed the ".1" for ".0006" the decayrate will loss 0.0006?

[2017-03-06 22:32] Tyler3D commented on #59
Yea

[2017-03-06 22:48] gyeyoqu commented on #58
ooh :(

is correct?

[code]

[2017-03-06 22:49] gyeyoqu commented on #58
?

[2017-03-06 22:49] Tyler3D commented on #58
above the return

[2017-03-06 22:54] gyeyoqu commented on #58
if (this.playerTracker.level == 101 && this.playerTracker.userRole == UserRoleEnum.USER) this.playerTracker.userRole = UserRoleEnum.MODER;
		return;

[2017-03-06 23:07] Tyler3D commented on #58
Yep

[2017-03-07 01:42] gyeyoqu opened #60 "i tried"
i tried add your updates of levels to lukas version and i have a one problem , is that when i close the server , the accounts not saved

[2017-03-07 02:09] gyeyoqu opened #61 "you can?"
you can make the actual position in the LB , more like agar?

[2017-03-07 02:40] Tyler3D commented on #60
@gyeyoqu You messed something up. Try downloading my verison

[2017-03-07 02:40] #60 closed

[2017-03-07 02:40] #61 closed

[2017-03-07 12:52] gyeyoqu opened #62 "Self feed gamemode"
I tried to do the self feed gamemode,  only change the ejecmassloss, but is so laggy , you can do without lag?

[2017-03-07 14:59] FlareYT commented on #62
Well...

If it's lagging , it your Computer/VPS.
Im also running a Selffeed Mode ( http://ogario.gq) and its running clearly without Laggs.
Otherwise its running on a VPS.

Greetings Flare.

[2017-03-07 15:02] FlareYT opened #63 "Login System"
Well,

I know that it's not only Multi-Ogar "Sided" , but I still wanted to ask , if any1 wants to help me with a Level System.
I only want these Features :
-Level Up = More Mass / Minions (+1 Level = 1 more Minion)
-Login System
------------------------------------------------------------------
Thats it :)

Greetings Flare

Ps : http://ogario.gq , where it should get added.
Pss : I got a Windows

[2017-03-07 15:04] FlareYT commented on #47
@Tyler3D , what should be the Icons location and Name ?

Greetings Flare

[2017-03-07 20:41] FlareYT opened #64 "Tags / Minion Name"
Hello,

Would it be possible to add a Tag like [Admin] , when a Admin logins.
I already have a Code , but I don't really know where to put it.
Example : http://mgar.io
Otherwise does any1 know how to name the Bots like the Usersname :
If my Name is "Flare" , the Bots name should be "Flares Bot" .
I already tried to use : this.name + "Bot" , which didn't work that good.

Greetings Flare :)

[2017-03-07 20:48] Tyler3D commented on #64
@FlareYT
 if (user.Role = UserRoleEnum.ADMIN) var text = "The Admin" + "[" + name + "]" + " has joined in the game!
    for (var i in this.gameServer.clients) {
        var client = this.gameServer.clients[i].playerTracker;
        this.gameServer.sendChatMessage(null, client, text);
    }
^
Use that in your login function towards the bottom but before the return;
Find --> this.gameServer.bots.add

[2017-03-07 20:48] #64 closed

[2017-03-07 20:52] Tyler3D commented on #63
@FlareYT I already did this. Do /account in the chat to get more info.
But this only gives you extra mass
For minions:
At the bottom of your login function in PlayerCommand.js
before the return add -->
        this.playerTracker.minionControl = true;
        for (var i = 0; i < user.level; i++) {
            this.gameServer.bots.addMinion(this.playerTracker);
        }

[2017-03-07 20:52] #63 closed

[2017-03-07 20:54] Tyler3D commented on #62
^^^^
But, to reduce lag... https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/GameServer.js#L1553
Change this to
var ejected = new Entity.Food(this, null, pos, this.config.ejectSize);

[2017-03-07 20:54] #62 closed

[2017-03-07 20:54] Tyler3D commented on #62
@gyeyoqu

[2017-03-07 20:59] #9 closed

[2017-03-07 21:01] Tyler3D opened #65 "Suggestions"
Any Good Suggestions for me to add?

Rules
1. Don't Suggest anything that would ruin game balance or is useless.
2. No physics configs --> (These tend to lag the game)
3. Before you make a Suggestion, first think if its client sided

Failure to follow these Rules will result in a deletion of your comment.

[2017-03-07 21:04] Tyler3D opened #66 "Questions"
Any Questions you would like to ask. :)
I will only help if you show your attempt so, I can then help you.

[2017-03-08 01:06] gyeyoqu opened #67 "Level 200"
You can make 200 levels? or how to do?

[2017-03-08 01:08] #67 closed

[2017-03-08 10:13] gyeyoqu opened #68 "Reaction issue"
The big issue why i not download your version o megabyte version is because both is so laggy i tested in my pc and the less laggy is the luka967 version, you can do better perfomance?

[2017-03-08 10:17] gyeyoqu commented on #68
Compare the mouse reactiom of gota.io and other multiogar servers

[2017-03-08 10:30] gyeyoqu commented on #64
Tyler it nor work for me

[2017-03-08 14:20] FlareYT commented on #63
@Tyler3D thanks for showing me , didn't updated it yet :+1:

Greetings Flare

[2017-03-08 14:55] FlareYT commented on #63
Well ,

I just updated my Version , everything works fine beside the Skins.
It can't be my Client , because it worked b4.
You could take a Look : http://ogario.gq - All Servers are using Multi-Ogar 1.4.8 (Your Version) where the Skins are working.
In the Developer Server (Updated one) the skins aren't working.

Greetings Flare

Ps : Im going to try it with Cigar in a Sec.

[2017-03-08 16:18] Tyler3D commented on #68
Luka's version is slower than Megabyte's version due to the calculations done on splitting. My version is around the same range. You can still play with 750 bots on my version maybe even 1 thousand. I think It's your computer. But, I'm going to keep this open so, I can give you stats when I get home

[2017-03-08 16:41] FlareYT opened #69 "Skins aren't working anymore."
I just updated my Version to the newst one and now the Skins aren't working.
http://ogario.gq
All Servers , beside Developer Server , are running on Tylers MultiOgar Edit 1.4.8 , where the skins are working well.
On the Developer Server (Newest One) , the skins aren't showing.
Maybe someone knows how to fix it.

Greetings Flare

Ps : @Tyler3D maybe you could join my Discord or add me on Skype : ht

[2017-03-08 17:04] gyeyoqu opened #70 "97 levels?"
[code]

only 97 levels? lol?

[2017-03-08 17:07] gyeyoqu commented on #70
HOW WORK?

[2017-03-08 20:43] #70 closed

[2017-03-08 20:46] #68 closed

[2017-03-08 21:01] gyeyoqu commented on #70
mm how pls..

[2017-03-08 21:20] Tyler3D commented on #70
@gyeyoqu http://agario.wikia.com/wiki/Levels
Take a look at this and add some exp levels

[2017-03-08 21:25] Tyler3D commented on #69
@FlareYT https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/commit/d8886a39e487e1eea4fa4d21fbba289e8247e7e6 Try reverting this commit. Or you can update your client to the latest verison of Cigar

[2017-03-08 21:25] #69 closed

[2017-03-08 22:59] gyeyoqu opened #71 "2 hours trying"
I have a big problem , when i put your level system in Multiogar of megabyte i have this error

![image](https://cloud.githubusercontent.com/assets/25285427/23728098/cc3d8edc-0439-11e7-9fd1-ec68abbf90b3.png)

[2017-03-08 23:05] Tyler3D commented on #71
@gyeyoqu Stop making issues about other repos. Or you may end up with a ban. Read the issue template

[2017-03-08 23:05] #71 closed

[2017-03-08 23:06] gyeyoqu commented on #71
oh , but you can help me with this , please?

[2017-03-08 23:15] gyeyoqu commented on #71
please man..

[2017-03-08 23:24] gyeyoqu commented on #71
i need this tyler , please

[2017-03-08 23:46] Jhair2015 commented on #71
duplicate and more duplicate

[2017-03-09 00:19] gyeyoqu commented on #71
sh jhair your server sucks

[2017-03-09 01:25] Agario2000 commented on #66
Where do I download the plugins?

[2017-03-09 01:42] Tyler3D commented on #66
@Agario2000 I've not made any yet

[2017-03-09 01:49] Agario2000 commented on #66
So there is a folder called "plugins"?

[2017-03-09 01:51] Jhair2015 commented on #71
i dont have server

[2017-03-09 14:58] FlareYT commented on #66
@Tyler3D , could you make a Plugin Template , so I know how they need to be coded.

Greetings Flare

[2017-03-09 15:14] Tyler3D commented on #66
I will when I get home. I just didn't have time to make any plugins yesterday.

[2017-03-09 20:01] FlareYT commented on #69
@Tyler3D , still not working.
Otherwise I downloaded the newest Version , with the new Plugins.
Well thats the error which I got : === Started 2017-03-09T21-01-41-702 ===
[INFO ][21:01:41] 0 IP ban records loaded.
[INFO ][21:01:41] 3 user records loaded.
[INFO ][21:01:41] 419 bad words loaded
[INFO ][21:01:41] [1m[32mMultiOgar-Edited-Unlimited 1.0.3[37m - An open source multi-protocol ogar serv

[2017-03-09 20:04] Tyler3D commented on #69
@FlareYT delete the readme from the plugins folder. I'll fix when I get home

[2017-03-10 02:01] Tyler3D commented on #66
@FlareYT @Agario2000 https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited-Plugins

[2017-03-10 16:38] FlareYT commented on #69
@Tyler3D , well... I still didn't got the Skins fixxed , which means I can't use it :/
Maybe you would like to help me , I would appreciate it.
But thanks for trying to help me :+1:

Greetings Flare

Ps: Keep the Great Work :)

[2017-03-11 05:58] gyeyoqu opened #72 "Counter"
You published a method to restart the server, can you do a counter?

[2017-03-11 12:27] Tyler3D commented on #72
Already done.

[2017-03-11 12:27] #72 closed

[2017-03-11 18:25] FlareYT commented on #66
@Tyler3D , how can I add something like players get +1 Minion every 5 Level ?
When its every 1 Level , its too much.

Greetings Flare.

[2017-03-11 21:28] Tyler3D commented on #66
@FlareYT
for (var i = 0; i < user.level; i++) {
this.gameServer.bots.addMinion(this.playerTracker);
}
Remember this... change it to
for (var i = 0; i < ~~(user.level / 5); i++) {
this.gameServer.bots.addMinion(this.playerTracker);
}

[2017-03-12 00:31] FlareYT commented on #66
@Tyler3D , Thank you so much 😆
Otherwise would you like to join my Team of my Game ? I would take care of the Client (PHP,Html,CSS) and you could help me with the Servers (JS , im not that good in it)

Greetings Flare

[2017-03-12 02:17] Agario2000 commented on #66
How to change the auto restart time?

[2017-03-12 02:28] Jhair2015 opened #73 "How to do this?"
As I can make possible less lag, I mean to remove all unnecessary having to do with vanilla protocol (11) in order to have a better performance :)
 charcoal VPS powerful :(

[2017-03-12 03:27] Tyler3D commented on #73
@Jhair2015 Multi-Ogar-Edited-Unlimited has a similar performance to Multi-Ogar-Edited. Most of the lag comes from gamemode stuff and unless you use those gamemodes you shouldn't lag

[2017-03-12 03:27] #73 closed

[2017-03-12 03:28] Tyler3D commented on #66
@Agario2000 Change the restartInterval variable in the autorestart plugin

[2017-03-12 04:35] Agario2000 commented on #66
And how can I remove the "restarting" message from the leaderboard?

[2017-03-12 17:13] gyeyoqu commented on #66
the client can know what is the level of the players?

[2017-03-12 17:47] Tyler3D commented on #66
@Agario2000 Get rid of these lines
        this.PluginHandler.plugins.AutoRestart.timeleft = ((this.PluginHandler.plugins.AutoRestart.time + (this.PluginHandler.plugins.AutoRestart.restartInterval) - _time.getTime()) / 1000);
        this.leaderboard.splice(this.config.serverMaxLB - 1, 1, (this.PluginHandler.plugins.AutoRestart.fake_player));
        this.PluginHandler.plugins.AutoRestart.updateTi

[2017-03-12 17:47] Tyler3D commented on #66
@gyeyoqu That would require protocol modifications and would cause lag.

[2017-03-12 18:13] Agario2000 commented on #66
Can you set it to auto restart when you reach a specified mass amount?

[2017-03-12 18:51] Jhair2015 opened #74 "Bug with explusing mass"
Bug

VIDEO

https://streamable.com/hcv2y

[2017-03-12 19:03] Jhair2015 commented on #66
How to config it

`this.PluginHandler.plugins.AutoRestart.timeleft = ((this.PluginHandler.plugins.AutoRestart.time + (this.PluginHandler.plugins.AutoRestart.restartInterval) - _time.getTime ()) / 1000) ;
this.leaderboard.splice (this.config.serverMaxLB - 1, 1, (this.PluginHandler.plugins.AutoRestart.fake_player));
this.PluginHandler.plugins.AutoRestart.updateTick ();`

For when a few seconds are m

[2017-03-13 21:41] gyeyoqu opened #75 "Power per level"
For each level that increases, the player can choose a power between 'rec mode' 1k of mass' 'speed', all this for a round until he dies

And in the chat will say:

- you have raised a level, you can choose 'R', 'M', 'S'

And the player must write in chat /power R

If he want REC

R = REC
M = MASS
S = SPEED

All for one round, until he dies and regains level

[2017-03-14 01:05] Tyler3D commented on #75
Seems like a lot of performance issues.

[2017-03-14 01:05] #75 closed

[2017-03-14 01:06] Tyler3D commented on #74
@Jhair2015 Will look into it

[2017-03-14 01:06] Tyler3D commented on #74
I just don't have much time this week

[2017-03-14 02:20] Jhair2015 commented on #74
@Tyler3D Thanks appreciate that, also in my VPS (DigitalOcean) I have opened my server with putty, I am using Autorestart Plugin and however it does not work as it should :(

Screenshort's:

![image](https://cloud.githubusercontent.com/assets/18153674/23883098/e7a16ade-0832-11e7-9278-0d8dd7726173.png)

[2017-03-14 19:57] adib696 commented on #74
@Jhair2015 can i get in touch with you ? i really need your help <3

[2017-03-14 20:30] Jhair2015 commented on #74
@adib696 Yes, my skype is: live_jimmy_jhair17

[2017-03-15 14:55] FlareYT opened #76 "How to Change Mass of the Bots (Console Command)"
Hey Guys,

I wanted to ask if somebody knows how I have to modify the minion Command , so I can give them Mass in through the Console Command .
Example : minion {ID} {Amount} ->{Mass}<- {Name}

Greetings Flare :)

[2017-03-17 16:45] gyeyoqu opened #77 "Communication Optionally"
Your fork consists in "UNLIMITED"

you can make that the client can know what is the level of players and all updates?

It would be great and so you could communicate in every aspect the client with the server

That the server know the level of players and obviusly add a configurable ( clientLevel = 0)
That the server know who is top 1 , top 2 , etc ( clientLB = 0 )
That the server know the own po

[2017-03-17 20:38] Tyler3D commented on #77
@gyeyoqu That would require protocol changes which would make this server incompatible with all other clients.

[2017-03-17 20:38] #77 closed

[2017-03-17 20:39] Tyler3D commented on #76
First, I have to ask @Andrews54757 Permission to port his "SuperMinions" plugin to this fork

[2017-03-17 21:30] Andrews54757 commented on #76
@Tyler3D You can do it. I dont care. OgarUL is over and therefore its code can be used by anyone.

[2017-03-17 23:15] Tyler3D commented on #76
@FlareYT Done

[2017-03-17 23:15] #76 closed

[2017-03-18 00:03] Jhair2015 commented on #76
We miss OgarUL

[2017-03-18 22:33] Jhair2015 opened #78 "How to changue it?"
#How to changue Plugins to MultiOgarEditedUnlimited

How can I make AutoRestart appear when only one minute or less is missing, also change the leaderboard mass + position; Just leave one such as mass and position to leave it aside, How is that possible :)

[2017-03-18 23:59] Tyler3D commented on #74
@Jhair2015 Use the script for linux

[2017-03-19 00:05] Tyler3D commented on #78
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited-Plugins/blob/master/AutoRestart.js#L33
That 5 is in seconds
The mass + position is separate would require recoding the entire plugin. And I'm too lazy lol. But you can take a look at how the functions looked when they were configurable
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/commit/866ace3b9e59bb5af2c4550ed789c9722530a817

[2017-03-19 00:05] Tyler3D commented on #78
@Jhair2015

[2017-03-19 00:05] #78 closed

[2017-03-19 00:16] Jhair2015 commented on #78
lol thanks tyler again :)

[2017-03-19 00:17] Jhair2015 commented on #74
@Tyler3D Yes is work thanks

[2017-03-20 04:28] t11tanYT opened #79 "old days"
are you remember old days in april 2016?
moneyclip patched bots in 5 may 2016
im want to back old days in private server like april 2016
ogar-feeder-bot-minions
ofbm (minions count) (name) (every how much ms bots will search your mouse coordinates and go to your mouse x y pos?)
please  add it for this project (megabyte 918 closed this issue in his project )

[2017-03-20 06:31] t11tanYT opened #80 "?"
now to level up?

[2017-03-20 08:32] #80 closed

[2017-03-20 09:16] gyeyoqu opened #81 "New gamemode"
https://www.youtube.com/watch?v=41uCr7P28Ls

Gamemode like this video in the minute 3:14

[2017-03-20 09:45] alktbihd opened #82 "Autorestart stops the server and not start it?"

[2017-03-20 19:59] Jhair2015 commented on #82
use a script to 24/7 Server

[2017-03-20 20:00] Jhair2015 commented on #81
GameMode created by Theo

[2017-03-21 02:48] gyeyoqu commented on #81
Who asked you?

[2017-03-21 09:07] alktbihd commented on #82
Well, I want it to restart every 3 mins, is that possible?

[2017-03-21 15:22] Jhair2015 commented on #82
yes, just instal pm2 and run!

[2017-03-21 20:17] alktbihd commented on #82
yeah but how do i configure it? ;-;

2017-03-21 19:22 GMT+04:00 JhairTera177 <notifications@github.com>:

[2017-03-21 20:18] Tyler3D commented on #82
@alktbihd Run the script in the run folder which allows the server to restart.

[2017-03-21 20:19] alktbihd commented on #82
oh

2017-03-22 0:18 GMT+04:00 Tyler3D <notifications@github.com>:

[2017-03-21 20:25] Tyler3D commented on #79
@t11tanYT I don't think this is too useful

[2017-03-21 20:25] #79 closed

[2017-03-21 20:25] Tyler3D commented on #81
@gyeyoqu Please consider putting your suggestions in the suggestion issue. This is invalid

[2017-03-21 22:39] Jhair2015 commented on #81
@gyeyoqu Please be polite, as we to you.

[2017-03-22 09:15] alktbihd opened #83 "/login"
whenever i login i get login failed for some reason?.

[2017-03-22 16:22] gyeyoqu commented on #83
@alktbihd show me your list of users and your PlayerCommand.js and the command that you are using

[2017-03-22 21:33] Tyler3D commented on #83
@alktbihd Please update your issue to the issue template's example. I can't really help you if you don't give many details

[2017-03-24 01:46] Logan7432 commented on #83
Same problem... Typing everything in correctly

[2017-03-24 01:54] Tyler3D commented on #83
Really?

[2017-03-24 01:55] Logan7432 commented on #83
@Tyler3D Yea Ill send you a few pics of my stuff, its all set up correctly

[2017-03-24 02:02] Logan7432 commented on #83
http://imgur.com/wgKelUa http://imgur.com/c0B0oTo

[2017-03-24 02:04] Logan7432 commented on #83
Also, make it a command so you a admin can do /id (player) so if we need to kick someone we know there id

[2017-03-24 02:11] Logan7432 commented on #83
This is weird because i create an account and right after I try to log in and it dosnt work says Login Failed

[2017-03-24 02:36] Logan7432 commented on #83
It would also be really cool if you like turn off chat but only admins and mods are allowed to chat.

[2017-03-24 03:03] Logan7432 commented on #83
Whats the pointof having the role admin but you cant use any commands to kick etc

[2017-03-24 12:48] Logan7432 commented on #83
Is it possible to do /playerlist in game as an admin like you can in console. Cause if im not at console and im somewhere else it would be nice to be able to find a player id from in game and kick someone.

[2017-03-24 13:13] Logan7432 opened #84 "Server Message"
Is there a way to remove the message when you go into the game where it says Multi-Ogar unlimited (version number)

[2017-03-24 17:56] Logan7432 opened #85 "Login System Suggestion"
So since theirs a leveling up system in the login system I think it would be an easy and awesome idea to have the server announce in the chat when someone levels up. Just a neat and cool feature that would be cool to have.

[2017-03-24 19:06] Tyler3D commented on #85
Seems like this would cause a lot of spam @Logan7432

[2017-03-24 19:06] #85 closed

[2017-03-24 19:06] Tyler3D commented on #85
And please in the future make your suggestion in the suggestions issue. Instead of making a separate one

[2017-03-24 19:09] Tyler3D commented on #84
@Logan7432 That message serves as a semi-copyright. If I tell you have to remove it then, you are basically stealing the server. If you know enough javascript you should be able to find it but, just remember that you are taking credit for mine and the original author's hard work.

[2017-03-24 19:09] #84 closed

[2017-03-24 19:23] Logan7432 commented on #84
@Tyler3D No No No, Im not trying to take credit at all. I just dont want my users to be seeing that every time they log in.

[2017-03-24 19:23] Logan7432 commented on #85
@Tyler3D It would, but you would have the option to have it on or off, Of course I would like this feature.

[2017-03-24 19:53] Logan7432 opened #86 "Feed"
There is a glitch with ejecting mass/ feeding When I press W to shoot mass out it tried to leave my cell and then goes backing it. This is really bad if your using the superpower mode and when you try and shoot viruses it pops yourself.

[2017-03-24 20:09] Tyler3D commented on #86
@Logan7432 This issue is already open

[2017-03-24 20:09] #86 closed

[2017-03-24 20:21] Tyler3D commented on #74
@Jhair2015 Try commenting these lines
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/GameServer.js#L1172-#L1173
I don't have much free time to extensively test it. Tell me if it fixes the eject problem

[2017-03-24 20:22] Logan7432 commented on #86
oops

[2017-03-24 20:27] Tyler3D commented on #83
@Logan7432 Make sure you have the latest verision and do
/login Brigle Oreoham1

[2017-03-24 20:29] Tyler3D commented on #83
The login system works perfectly for me

[2017-03-24 20:33] Logan7432 commented on #83
@Tyler3D works now! Thanks. Just need to fix the eject bug and were good.

[2017-03-24 20:35] #83 closed

[2017-03-24 22:39] vincent95330 opened #87 "PLugins"
How can i add plugins ? and where ?

[2017-03-24 23:15] Logan7432 commented on #87
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited-Plugins Here is the available plugins. GO into SRC and drag the plugins into the plugins folder

[2017-03-24 23:17] Logan7432 opened #88 "SuperPowers"
Theres a glitch with super powers for example if a bot or another player gets a power up, it says it in chat that they got the power up in my chat also making me think I got the power up but i really didnt.

[2017-03-24 23:19] #87 closed

[2017-03-25 02:52] Logan7432 commented on #88
And since you fixed the admin system when you create an account it dosnt say you registered anymore.

[2017-03-25 02:55] Logan7432 commented on #88
And apperently it lets you shoot mass or viruses in the mode only if you are really big and not split

[2017-03-25 03:18] Logan7432 commented on #88
Is there a way to remove the pop-split and the shooting virus from the super heroes game mode?

[2017-03-25 04:08] #88 closed

[2017-03-25 04:08] Tyler3D commented on #88
Fixed

[2017-03-25 04:09] Tyler3D commented on #88
Just remove the popsplit and shooting virus code from PowerUP.js

[2017-03-25 04:10] Logan7432 commented on #88
Thx

[2017-03-25 07:40] t11tanYT opened #89 "cellcraft.io movement"
now to get cellcraft movement?

[2017-03-25 16:27] mafiakb opened #90 "how add more roles?"
i need create more roles, Gold, Silver, Bronce and more.

[2017-03-25 18:48] Logan7432 commented on #88
When Ever I delete the code I get an error.

[2017-03-25 18:57] Logan7432 commented on #88
Which line of code would I delete the remove shooting viruses and pop split

[2017-03-25 19:10] Logan7432 commented on #65
cCan you make it so if your logged in as an admin or mod able to talk in chat if you have the chat disabled?

[2017-03-25 19:51] Logan7432 commented on #65
We should get this updated to the most recent multiogar edited

[2017-03-25 21:25] vincent95330 opened #91 "login"
I have problem with /login ( When i try to log in it crash )
http://ogarz.ovh/game/ (Selfeed 2 )

[2017-03-26 00:36] Logan7432 commented on #91
@vincent95330 Make Sure you have the most up to date server. Just a question, May I have the code for the minimap for the client? Cause for some reason my mini map dosnt work with this server and I notice that your mini-map works fine with the server. Can you please help me out?

[2017-03-26 00:39] Logan7432 commented on #91
Also just see for yourself on what im talking about. WilsonSD12.ooguy.com. Like my minimap is way off.

[2017-03-26 00:40] Tyler3D commented on #91
^^

[2017-03-26 00:40] #91 closed

[2017-03-26 00:42] Tyler3D commented on #89
Naw. I think agar.io is good

[2017-03-26 00:42] #89 closed

[2017-03-26 00:44] Tyler3D commented on #90
@mafiakb You should be able to add roles just by adding them to here -> https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/enum/UserRoleEnum.js

[2017-03-26 00:44] #90 closed

[2017-03-26 05:04] Logan7432 commented on #66
Hey, Just a question. Would anyone here by any chance know how to code the mini-map for the client side? Because for some odd reason multi ogar dosnt work with my client minimap. https://ibb.co/gou9dv

[2017-03-26 05:06] Logan7432 commented on #66
Also, When do you think there will be a fix for the feeding/Ejecting mass?

[2017-03-26 05:09] Logan7432 commented on #74
@Jhair2015 May I have your client so I can fix my Mini-Map Code?

[2017-03-26 15:59] Jhair2015 commented on #74
@Logan7432 What?

[2017-03-26 16:39] Logan7432 opened #92 "PowerUp"
So I removed the line of code for the popsplit and shooting a virus. Which I wanted to do. But the power ups still spawn for the virus and popsplit but they dont give you any power up and just feed you.

[2017-03-26 16:43] Tyler3D commented on #92
@Logan7432 Because you forgot to make this.power only give numbers between 1 and 2.

[2017-03-26 16:43] #92 closed

[2017-03-26 16:44] Logan7432 commented on #92
var Cell = require('./Cell');
var PlayerCell = require('./PlayerCell');
function PowerUP(gameServer) {
    Cell.apply(this, Array.prototype.slice.call(arguments));
    this.cellType = 2;
    this.isSpiked = false;
    this.isMotherCell = false; // Not to confuse bots
    this.setColor({ r: 0xff, g: 0x00, b: 0x94 });
    this.setSize(80);
    this.powertimer = 20 * 1000 // 20 Seconds
    this.power

[2017-03-26 16:44] Logan7432 commented on #92
What do you mean?

[2017-03-26 16:45] Tyler3D commented on #92
@Logan7432 this.power generates random numbers between 1 and 4. There are only choices for 1 and 2. Thus, there is 50% chance nothing will happen.

[2017-03-26 16:47] Logan7432 commented on #92
@Tyler3D Wheres the line of code to change it to 1 & 2? Also how do i make it so they power ups spawn a little less

[2017-03-26 16:50] Tyler3D commented on #92
this.power = Math.round(Math.random() * (4 - 1) + 1);

[2017-03-26 16:51] Tyler3D commented on #92
https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/gamemodes/SuperPowers.js#L13

[2017-03-26 16:58] Logan7432 commented on #92
@Tyler3D Thanks!

[2017-03-26 17:00] Logan7432 commented on #92
@Tyler3D I know this isnt related but do you know how to fix my clients mini-map? http://wilsonagario.x10host.com/

[2017-03-26 19:51] Logan7432 commented on #65
Please Please Please Fix the mass eject issue! Server will most likely be perfect if fixed.

[2017-03-26 21:56] Logan7432 opened #93 "feeding"
when is feeding planned to be fixed?

[2017-03-26 22:09] #93 closed

[2017-03-26 22:11] Tyler3D commented on #93
@Logan7432 How impatient can you be to pressure someone to do something for you on a program that is already free.

[2017-03-26 22:49] Logan7432 commented on #93
@Tyler3D No No No, I'm not pressuring. What I meant was like will it be fixed sometime in the next few weeks? I Didn't mean it like that. its just a key thing in the game.

[2017-03-27 09:44] vincent95330 opened #94 "Problems with proxy minion .."
How can I forbid people to put their own minions with the tampermonkey extension in this multiogar? Like this project: https://github.com/Megabyte918/MultiOgar-Edited

[2017-03-27 18:19] Logan7432 commented on #94
@vincent95330 You cant at the minute unless this is updated to the most updated version of multiogar edited.

[2017-03-27 18:20] Logan7432 commented on #94
@vincent95330 Please check what I asked you in issue #93 Thanks

[2017-03-27 21:57] ToporBigBots opened #95 "How to start and open console-plus?"
Hi Tyler! Tell me how to start and open console-plus? Opened 127.0.0.1:1234 and nothing:(

[2017-03-27 22:05] Jhair2015 commented on #95
you know about Readme.md file?

[2017-03-27 22:14] ToporBigBots commented on #95
sorry, not noticed

[2017-03-27 22:14] #95 closed

[2017-03-29 02:01] SambyAgarYT opened #96 "How to make popsplit work everytime?"

[2017-03-29 10:17] ToporBigBots opened #97 "Error's plugins!!!"
Installed the plugin, turned on the server and the error appeared. There are only restart and template

[2017-03-29 16:13] Logan7432 commented on #97
Same issue!

[2017-03-29 16:25] Logan7432 opened #98 "Super Powers"
https://ibb.co/n7HQov I get an error when I start server

[2017-03-30 22:31] Logan7432 commented on #97
@Tyler3D What happened?!

[2017-03-31 00:36] Megabyte918 commented on #94
This should be fixed now with the recently updated GameServer.js and it's minion detection.
@Tyler3D close?

[2017-03-31 00:38] Megabyte918 commented on #18
@Tyler3D What are you planning to do with this? You mentioned in #65 that do not suggest physics configurations as they lag the game, and this has been open for almost a month.
@gyeyoqu If you want to get splits like Gota.io, I suggest playing around with the `splitVelocity` config

[2017-03-31 00:39] Megabyte918 commented on #81
@Tyler3D Close?

[2017-03-31 00:48] Megabyte918 commented on #98
@Logan7432 In /gamemodes/SuperPowers.js, replace this function:
[code]
With this one:
[code]

[2017-03-31 00:57] Megabyte918 commented on #74
@Jhair2015 What exactly is wrong there? And does it still occur on the most recent version?

[2017-03-31 01:00] Megabyte918 commented on #97
Uninstall the plugin and wait for a fix for now. It will be fixed eventually but as you can tell Tyler is very busy.

[2017-03-31 01:24] Jhair2015 commented on #74
@Megabyte918 That problem is only on this fork, but I see that with the update some things have been broken, so I had to go back to the version about 20 days ago or so, and start troubleshooting bugs of the "W" and something About popsplits

[2017-03-31 01:25] Jhair2015 commented on #74
By the way I fixed your fork to solve this fork xD

[2017-03-31 01:26] Jhair2015 commented on #96
@Megabyte918 How to tweak the virus explosion multipliers in Virus.js? Can you give me some clue to do it please!

[2017-03-31 02:47] Logan7432 commented on #97
@Megabyte918 Darn, this stinks! That leader board plugin is awesome.

[2017-03-31 03:07] Logan7432 commented on #98
@Megabyte918 I dont get the error anymore but my cell is frozen and cant move

[2017-03-31 09:53] vincent95330 opened #99 "facebook login"
how Can i  add facebook login for multiogar ?

[2017-03-31 11:20] Logan7432 commented on #99
You cant, This would be client sided.

[2017-03-31 12:09] Tyler3D commented on #99
Not really. It would just cause potential lawsuits.

[2017-03-31 12:09] #99 closed

[2017-03-31 12:09] Tyler3D commented on #94
^^

[2017-03-31 12:09] #94 closed

[2017-03-31 12:12] Tyler3D commented on #98
@Logan7432 Try removing the Slither Plugin if you have it

[2017-03-31 12:13] Tyler3D commented on #97
@Logan7432 @ToporBigBots I have to rewrite all of the plugins to make them compatible with the new verison

[2017-03-31 12:14] Tyler3D commented on #96
@Jhair2015 See the Multi-Ogar-Edited Wiki https://github.com/Megabyte918/MultiOgar-Edited/wiki/Frequently-Asked-Questions

[2017-03-31 12:14] #96 closed

[2017-03-31 12:15] Tyler3D commented on #96
@SambyAgarYT But you should be able to use the popsplit command to give yourself perfect popsplits

[2017-03-31 12:24] #18 closed

[2017-03-31 12:25] Tyler3D commented on #18
@Megabyte918 True actually I just forgot about this lol.

[2017-03-31 12:25] #81 closed

[2017-03-31 12:35] Logan7432 commented on #98
@Tyler3D Don't have it installed

[2017-03-31 12:36] Logan7432 commented on #97
@Tyler3D Ok!

[2017-03-31 16:01] Jhair2015 commented on #96
@Tyler3D Thanks :D again <3

[2017-03-31 19:10] mafiakb opened #100 "Error login in Linux"
this error, how fix?

![image](https://cloud.githubusercontent.com/assets/12769609/24565650/be26aee8-161b-11e7-88b3-2969cca783ab.png)

![image](https://cloud.githubusercontent.com/assets/12769609/24565635/a9635d12-161b-11e7-8201-88d0c0fcc349.png)

[2017-03-31 19:25] Logan7432 commented on #66
@Tyler3D I know your very busy, but if you ever game time could you please help me fix my mini map for my client? I run the server for my school and it's very hard to find friends without a working mini map and you would be a huge help.

[2017-03-31 19:39] ToporBigBots commented on #97
@Tyler3D Okey!

[2017-03-31 19:50] Jhair2015 opened #101 "How to do this!"
Well, I tried to make autestart as easy, I mean leaderboard is set to 'restart' when a few seconds are missing, @Tyler3D  could tell me if this is possible and how? please.

[2017-03-31 20:02] #97 closed

[2017-03-31 20:06] ToporBigBots opened #102 "A strange connection to the server"
Switch between servers. One of the servers your updated when it is selected, there is a temporary lag i.e. the time everything freezes (2-5 seconds). With other servers this was not. Please fix it, thanks

[2017-03-31 20:33] Jhair2015 opened #103 "How?"
How to prevent the server from automatically saving or creating a ServerLog, I see that it creates too many .txt files, it makes the server heavier, How?

[2017-04-02 06:55] t11tanYT commented on #102
please idi naxyi

[2017-04-03 00:07] Jhair2015 commented on #6
@RelTakeover That is socket

[2017-04-03 19:47] vincent95330 commented on #100
for me too

[2017-04-03 20:18] Logan7432 commented on #6
@Tyler3D Do you know of any clients that have working mini map with multi ogar? My client mini map is way way off with multi ogar

[2017-04-03 20:19] Logan7432 commented on #97
@Tyler3D Can you try and fix the LeaderBoard plugin soon as you get time?

[2017-04-03 20:27] Logan7432 commented on #22
@Tyler3D you could make this a plugin or a option to have on/off in the config. I personally like this idea

[2017-04-04 13:23] Logan7432 opened #104 "Commands/other"
For my server the MiniMap is way out of sync with the server. Is there a way to change the code and implement the map code that cigar uses? My client is in sync with the cigar server but not this one. https://ibb.co/gou9dv

[2017-04-04 19:35] Logan7432 commented on #104
Also, I don't wanna make a new issue form but can you make it so the admin has more commands? Like I Do /addbot (number) but then when I try and remove bots by doing /kickbot  (number) it says unknown command which what most of the commands I type in say

[2017-04-04 20:57] Logan7432 commented on #104
Never mind about Mini-Map I fixed it. But Please fix second one.

[2017-04-04 21:19] vincent95330 commented on #104
@Logan7432 Use this script :

function drawMap() {
        if (playerCells.length == 0) return;
        ctx.save();

        function gcd(a, b) {
            return !b ? a : gcd(b, a % b);
        }
        ctx.beginPath();
        ctx.fillStyle = "rgba(0,0,0,.50)";
        var size = 200;
        ctx.lineWidth = 1.5;
        var mapX = canvasWidth - size - 10;
        var mapY = canvasHeight - si

[2017-04-04 21:24] Logan7432 commented on #104
@vincent95330 Thanks!

[2017-04-04 21:24] #104 closed

[2017-04-04 21:27] Logan7432 commented on #104
@vincent95330 Thanks! Hey, just a question. Do you know how to fix the leader board plugin? Or remove the this line of text that appears in the chat? https://ibb.co/ix1YbF

[2017-04-05 00:29] Tyler3D commented on #102
@ToporBigBots Can you rewrite your issue to the issue template --> https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/ISSUE_TEMPLATE.md
I don't really understand

[2017-04-05 00:31] #100 closed

[2017-04-05 00:32] #66 closed

[2017-04-05 00:33] Tyler3D commented on #101
@Jhair2015 Could you rephrase your question?

[2017-04-05 00:37] Tyler3D commented on #103
@Jhair2015 It shouldn't lag the server but. you can commit this line ->https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/src/modules/Logger.js#L217

[2017-04-05 00:37] #103 closed

[2017-04-05 01:16] Jhair2015 commented on #103
@Tyler3D Thanks

[2017-04-05 01:24] Jhair2015 commented on #101
@Tyler3D https://streamable.com/zi7bi

check out leaderboard

[2017-04-05 01:36] Logan7432 commented on #83
@Tyler3D Can you make it so admins can do /kickbot? Also where do I got to change the amount of mass admins spawn in with?

[2017-04-05 10:07] plazo123 opened #105 "auto restart not sure if this is an issue sorry"
auto restrt is fine my freind is using and the leader bord dont say restarting hour min sec in my one its says leader board is enoying restarting hour min sec
so is there a way to fix that up thx    :)

plazo
..,,

[2017-04-05 12:29] vincent95330 opened #106 "Create account"
Why i can't create account in linux ?

[2017-04-05 14:12] vincent95330 opened #107 "custom skins"
Can you add custom skins in server like alis or dual .. with link..
Thx :D

[2017-04-05 14:46] Logan7432 opened #108 "Virus"
When a player feeds a virus it shoots a bunch of viruses instead of filling the virus and then it shooting.

[2017-04-05 14:57] Logan7432 commented on #108
chrome-extension://mmeijimgabbpbgpdklnllpncmdofkcpn/app.html#/files/aab4d11e-d86d-4c52-y1f6-e8d354c4de33

[2017-04-05 15:57] Logan7432 commented on #108
Never Mind, I fixed it.

[2017-04-05 15:57] #108 closed

[2017-04-05 15:59] Logan7432 commented on #106
Should be fixed from last commit, try and update server

[2017-04-05 16:54] vincent95330 commented on #106
@Logan7432 thx i will try ..

[2017-04-05 17:00] vincent95330 commented on #106
No, now i can't create account and server crashing ....

[2017-04-05 17:14] Jhair2015 commented on #107
Client Sided

[2017-04-05 17:34] #82 closed

[2017-04-05 17:53] #107 closed

[2017-04-05 18:24] Logan7432 commented on #106
@vincent95330 Weird

[2017-04-05 20:57] Tyler3D commented on #106
@vincent95330 Follow the issue template -> https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/blob/master/ISSUE_TEMPLATE.md
I can't help you if you don't give me information
I'll close for now

[2017-04-05 20:57] #106 closed

[2017-04-05 20:58] Tyler3D commented on #105
@plazo123 Most Plugins need to be rewritten.

[2017-04-05 20:58] #105 closed

[2017-04-05 20:59] Tyler3D commented on #101
@Jhair2015 If there is little people in the leaderboard the same effect should happen. The way it is coded now wouldn't allow for a complete override of the leaderboard

[2017-04-05 20:59] #101 closed

[2017-04-05 21:03] Jhair2015 commented on #101
If it happens, but I have eliminated the lines 67, 68 and 69
So I do not take all the leaderboard
I have tried to do that without affecting the 10 seconds before the autestarting in ...

[2017-04-05 23:41] Wair1o17 opened #109 "How to fix?"
![image](https://cloud.githubusercontent.com/assets/18153674/24731414/7eea640a-1a2f-11e7-8387-3dd4044ffcd4.png)

[2017-04-06 13:43] vincent95330 opened #110 "Auto restart"
Can you make autoRestart with max mass in server ? Thx :)

[2017-04-06 15:03] Jhair2015 commented on #110
Yes, @Tyler3D  that would be great :)

[2017-04-06 21:51] Logan7432 opened #111 "Gamemode"
Hey Tyler, I have a really good gamemode idea that you should think about trying to add.  The mode would be called Feat, In the gamemode it would announce in the chat something like "There will be a feast in section (For example: A1 or C4) In that section of the map there would be tons of minions/bots just spawning in that area feeding the players that go to that section of the map. I feel like th

[2017-04-06 22:24] gyeyoqu opened #112 "Keep logged"
Is it possible to keep accounts logged? , Without having to log in again

[2017-04-07 02:28] Logan7432 opened #113 "Protocal"
How do I remove the line of text that appears in the chat that says WARNING: Protocol 1 assumed as 4?

[2017-04-07 02:29] Logan7432 commented on #111
#65

[2017-04-07 03:14] Jhair2015 commented on #113
Control + F on MultiOgar [Gameserver.js]

[2017-04-07 10:05] vincent95330 commented on #111
I have create GunSplit mod like gaver.io , add this gamemode in your version , is fun :),

Modifie Gameserver.js `// Library imports
var http = require('http');

// Project imports
var Packet = require('./packet');
var Entity = require('./entity');
var Vec2 = require('./modules/Vec2');
var Logger = require('./modules/Logger');
var PluginHandler = require('./PluginHandler');
// GameServer implement

[2017-04-07 10:14] vincent95330 commented on #111
I have make new gamemode in Multiogar , Gunsplit mod

Modifie [gamerserver.js](https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/compare/master...vincent95330:patch-1)
And modifie [GameServer.ini](https://github.com/Tyler3D/Multi-Ogar-Edited-Unlimited/compare/master...vincent95330:patch-2) :

@Tyler3D Can you add this mod in Multiogar , is very fun :)

[2017-04-07 10:51] vincent95330 commented on #112
I don't know sorry ...

[2017-04-07 12:10] AGarRiBiA commented on #65
can you make give minion by ip plugin ?
because i have a game and i sell a bots to players and i need this plugin :)

[2017-04-07 14:38] AGarRiBiA commented on #110
:+1: yes

[2017-04-07 14:56] Tyler3D commented on #113
^^

[2017-04-07 14:56] #113 closed

[2017-04-07 14:57] Tyler3D commented on #111
This wouldn't work well though because there isn't a minimap

[2017-04-07 14:57] #111 closed

[2017-04-07 14:58] Tyler3D commented on #112
Not really

[2017-04-07 14:58] #112 closed

[2017-04-07 14:58] Tyler3D commented on #110
This already exists

[2017-04-07 14:58] #110 closed

[2017-04-07 15:18] Logan7432 commented on #102
@Tyler3D When I get about 5-10 people on my server it starts to lag very very bad..... I dont think it could be my internet that hosting the server because its 200mbs down and 15mbs up. I'm pretty sure 5-10 people it shouldn't be starting to lag....

[2017-04-07 15:28] Logan7432 commented on #113
@Jhair2015 @Tyler3D What? I Don't understand this.

[2017-04-07 15:32] Logan7432 commented on #102
@Tyler3D See for yourself, WIlsonsd12.ooguy.com

[2017-04-07 18:18] Logan7432 opened #116 "hosting"
Any hosting website for servers like this you guys know of?

[2017-04-07 19:04] Jhair2015 commented on #116
Hostinger, BanaHosting, 000webhost, godaddy, etc...

[2017-04-07 19:05] alktbihd commented on #116
Godaddy is the best

[2017-04-07 19:14] Logan7432 commented on #116
@Jhair2015 @alktbihd So those sights can run servers like this one?

[2017-04-07 19:16] Jhair2015 commented on #116
mmmmm No, Hosting is to host [xD] your website, and VPS is to Run your [MultiOgar] Server

[2017-04-07 19:16] Jhair2015 commented on #116
@Logan7432 Try my domain .io :D http://wair.io/

[2017-04-07 19:19] alktbihd commented on #116
@Jhair2015 can you help me with my client :) ? i need help on very small things xd

[2017-04-07 19:20] Logan7432 commented on #116
@Jhair2015 Wow! Is that your site?

[2017-04-07 19:20] alktbihd commented on #113
@Logan7432 you need to get a compatible client

[2017-04-07 19:21] Logan7432 commented on #116
@Jhair2015 Check mine out at WilsonSD12.ooguy.com. I kinda need help though, my client lags behind and dosnt fell smooth like yours.

[2017-04-07 19:22] Jhair2015 commented on #113
@alktbihd Yes you are right, @Logan7432 You client is protocol old [PROTOCOL 1] or just search on Gameserver.js 'Protocol 1' and changue the text

[2017-04-07 19:23] Jhair2015 commented on #116
@alktbihd May be xD. @Logan7432 Yes is my game :) .io domain just for 32$ lol and free VPS and very very very very very fast xD

[2017-04-07 19:26] alktbihd commented on #116
free vps? @Jhair2015

[2017-04-07 19:27] Logan7432 commented on #116
@Jhair2015 Thx for spamming me with ads :) lol

[2017-04-07 19:28] Jhair2015 commented on #116
If by some contacts (:

[2017-04-07 19:29] Jhair2015 commented on #116
@Logan7432 Thanks for the money may be xd? lol

[2017-04-07 19:31] Logan7432 commented on #116
@Jhair2015 What do u use for the ads?

[2017-04-07 19:32] Jhair2015 commented on #116
@Logan7432 Exoclick, But I'll be using sekindo in a few hours lol

[2017-04-07 19:32] Logan7432 commented on #116
@Jhair2015 If Possible Would you be able to help me make that minimap you use? its fine if not.

[2017-04-07 19:32] #116 closed

[2017-04-07 19:34] Jhair2015 commented on #116
@Logan7432 I do not have much time now

[2017-04-07 19:35] Logan7432 commented on #116
@Jhair2015 Thats fine.

[2017-04-07 19:35] Logan7432 commented on #116
@Jhair2015 Do you use this version of multi ogar for your site?

[2017-04-07 19:37] Jhair2015 commented on #116
Some features, I have modified many things that I do not remember if the one I have in my vps is from MegaByte or Tyler xD

[2017-04-07 19:38] Logan7432 commented on #116
@Jhair2015 Ok, one last question. What VPS do you use?

[2017-04-07 19:51] Jhair2015 commented on #116
AWS

[2017-04-07 19:53] Logan7432 commented on #113
@Jhair2015 Is that bad if its on protocol 1? And if so how do i update to newest.

[2017-04-07 20:04] Jhair2015 commented on #113
@Logan7432 Cigar

[2017-04-07 20:04] Logan7432 commented on #113
@Jhair2015 If i were to update it to cigar would i replace the main_out?

[2017-04-07 20:08] Tyler3D commented on #116
@Logan7432 I recommend buying a server. Port-forwarding and running both the game-servers and website. It is both cheaper and you have more control.

[2017-04-07 20:14] Jhair2015 commented on #113
@Logan7432 idk much about cigar lol

[2017-04-07 20:20] Mr-BrockLee commented on #116
@Logan7432 or @Tyler3D Do u guys have modified version of Cigar?

[2017-04-07 20:20] Mr-BrockLee commented on #113
@Jhair2015 What client do you use?

[2017-04-07 20:41] Logan7432 commented on #116
@Jhair2015 Yes, But im going to be rewriting my entire cigar client to match newest protocol and make everything cleaner

[2017-04-07 20:59] alktbihd commented on #116
@Jhair2015 can u help me on something on my client? :)

[2017-04-07 21:37] Logan7432 commented on #113
@Jhair2015 Could you help me update my current client to newest protocol?

[2017-04-07 21:39] Logan7432 commented on #113
I think i just fixed it. Can someone explain to me what protocol is though?

[2017-04-07 21:49] Logan7432 commented on #116
@Jhair2015 Also, How did you get the background of your game like a map? I would really like to implement this to mine. Help?

[2017-04-07 23:06] TigOlBittes commented on #116
@Logan7432  whats ur website?

[2017-04-07 23:28] Mr-BrockLee commented on #116
@Logan7432 Nice site xD
@Wair1o17 What client do you use?

[2017-04-08 01:04] Logan7432 commented on #116
@Mr-BrockLee Yeah, its pretty good for a site I made for school.

[2017-04-08 07:37] AGarRiBiA commented on #110
@Tyler3D how ?

[2017-04-08 07:48] AGarRiBiA commented on #116
http://k-d.io
lol

[2017-04-08 08:04] AGarRiBiA opened #117 "give minion by ip [Suggest]"
hello this is a Suggest
can you make give minion by ip plugin ?
like Ogar Unlimited IPbots plugin
https://github.com/AJS-development/OgarUL-Plugin-Library/tree/master/ipbots

[2017-04-09 23:41] Wair1o17 opened #118 "Please help me :b"
What is the level system? - I mean location, to be able to copy MegaByte fork
I had to update to MultiOgarEdited, because many bugs of mass expulsion have not been corrected here, I tried, but it was not completely solved correctly

[2017-04-12 15:43] jakeagar opened #119 "A better xp system"
Looks like xp system is too ez to cheat on it How to make it by time or close to agar.io one

[2017-04-17 18:22] agarrizar commented on #65
GUNSPLIT GAMEMODE???

[2017-04-18 22:47] Wair1o17 commented on #110
@vincent95330 Can you help me with aws, open ports and it pls??

[2017-04-21 17:44] FlareYT commented on #109
There is something wrong with the Variable getName.
I suggest you to reinstall the Files and try it again :)

~ Flare

[2017-04-21 18:40] Wair1o17 commented on #109
@FlareYT Fixed 1 month ago :p

[2017-04-23 21:29] vincent95330 opened #120 "Bot players"
add eat pellets to bots ..

[2017-04-24 10:04] vincent95330 opened #121 "Issue--bug--Create account"
I have last version of multiogar but i can't create account on linux . When I created my account it is not listed in the file UserRoles.json while locally under windows everything works very well, can you fix this?

[2017-04-24 10:04] #120 closed

[2017-04-27 02:22] AGarRiBiA commented on #117
.

[2017-04-27 02:22] #117 closed

[2017-04-27 17:57] Wair1o17 opened #122 "How to?"
How to add an image above the cell (this is not client sided), for example add a crown and appease with the same pellet system ...

Please help!

[2017-04-30 02:14] Wair1o17 opened #123 "Link to html or js @Tyler3D"
How to link the system levels to html or javascript, I mean that my client (http://wair.io) can be connected to the levels of MultiOgar-Edited-Unlimited, please @Tyler3D  respond me ...
@Tyler3D

[2017-04-30 06:34] imnotNxhz1 commented on #122
hazle un chupon a los developers de laxuz y te diran como  :v    theoxt y pay2win xD

[2017-04-30 15:37] Wair1o17 commented on #122
Jajaja :v Ellos no saben :'v

[2017-05-02 00:30] #123 closed

[2017-05-02 00:30] #122 closed

[2017-05-02 00:30] #121 closed

[2017-05-02 00:30] #118 closed

[2017-05-02 00:30] #109 closed

[2017-05-02 00:30] #102 closed